Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

v0.29.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

Update CHANGELOG
  CHANGELOG.md
Owners: none

make eslint disallow use of sync fs functions
  .eslintrc.js
  package.json
  packages/eas-cli/__mocks__/fs.ts
  packages/eas-cli/patch-readme.js
  packages/eas-cli/src/build/android/__tests__/UpdatesModule-test.ts
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/__tests__/UpdatesModule-test.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/__tests__/gradle-test.ts
  packages/eas-cli/src/project/android/__tests__/gradleUtils-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/__tests__/scheme-test.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/vcs/local.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

make eslint disallow use of sync fs functions (#652)
  .eslintrc.js
  CHANGELOG.md
  package.json
  packages/eas-cli/__mocks__/fs.ts
  packages/eas-cli/patch-readme.js
  packages/eas-cli/src/build/android/__tests__/UpdatesModule-test.ts
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/__tests__/UpdatesModule-test.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/__tests__/gradle-test.ts
  packages/eas-cli/src/project/android/__tests__/gradleUtils-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/__tests__/scheme-test.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/vcs/local.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

upgraded analytics client
  packages/eas-cli/package.json
  packages/eas-cli/src/analytics.ts
  yarn.lock
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
Owners: none

[eas-cli] assign google service account key (#649)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/AssignGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/AssignGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/credentials/AndroidAppCredentials.ts
Owners: none

fix changelog
  CHANGELOG.md
Owners: none

[eas-cli] use existing google service account key
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/UseExistingGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/UseExistingGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/actions/UseExistingGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/UseExistingGoogleServiceAccountKey-test.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

update snap
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
Owners: none

[eas-cli] use existing google service account key (#650)
  CHANGELOG.md
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/UseExistingGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/UseExistingGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] fix android print formats
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
Owners: none

[eas-cli] fix ios print formats
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

fix lint
  packages/eas-cli/src/credentials/ios/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

fix lint:
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

upgraded analytics client (#655)
  packages/eas-cli/package.json
  packages/eas-cli/src/analytics.ts
  yarn.lock
Owners: none

add credentials context to submission context
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/AppProduce.ts
  packages/eas-cli/src/submit/ios/__tests__/IosSubmitCommand-test.ts
Owners: @dsokal, @wkozyra95, @barthap

use credentials context when authenticating with apple
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/submit/ios/AppProduce.ts
Owners: @barthap, @dsokal

don't use chalk.italic
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

update CHANGELOG
  CHANGELOG.md
Owners: none

v0.29.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

[eas-json][eas-cli] add autoIncrement validation checks and android types
  CHANGELOG.md
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/version.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/ios/version.ts
  packages/eas-cli/src/build/utils/version.ts
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/index.ts
Owners: @dsokal, @wkozyra95

fix tests
  packages/eas-cli/src/build/android/__tests__/version-test.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Enable autoIncrementing on Android (#645)
  CHANGELOG.md
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/version.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/ios/version.ts
  packages/eas-cli/src/build/utils/version.ts
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/index.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] fix android print formats (#656)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

pr feedback
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

chnagelog
  CHANGELOG.md
Owners: none

[eas-cli] remove google service account key
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/UseExistingGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/GoogleServiceAccountKeyMutation.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

Update packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
Owners: none

Update packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

rebase
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
