Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman, @bycedric

CODEOWNERS:

* @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/build @szdziedzic @khamilowicz @sjchmiela
packages/eas-cli/src/commands/build @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/submit @szdziedzic @khamilowicz @sjchmiela
packages/eas-cli/src/commands/submit.ts @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/update @EvanBacon @byCedric @wschurman
packages/eas-cli/src/commands/update @EvanBacon @byCedric @wschurman

packages/eas-cli/schema @bycedric
packages/eas-cli/src/metadata @bycedric
packages/eas-cli/src/commands/metadata @bycedric

packages/eas-json @szdziedzic @khamilowicz @sjchmiela

Add tests to EnvironmentVariableGet
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableGet-test.ts
  packages/eas-cli/src/commands/env/get.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

fix link
  packages/eas-cli/src/commands/env/link.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Refactor env:list and add tests
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableList-test.ts
  packages/eas-cli/src/commands/env/list.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add tests to env:list
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableList-test.ts
  packages/eas-cli/src/commands/env/list.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update Environment Variables queries:
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/env/get.ts
  packages/eas-cli/src/commands/env/update.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/EnvironmentVariablesQuery.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

fix test
  packages/eas-cli/src/update/__tests__/getBranchNameFromChannelNameAsync-test.ts
Owners: @EvanBacon, @byCedric, @wschurman

Allow prompting for multiple environments
  packages/eas-cli/src/commandUtils/flags.ts
  packages/eas-cli/src/commands/env/create.ts
  packages/eas-cli/src/commands/env/delete.ts
  packages/eas-cli/src/commands/env/get.ts
  packages/eas-cli/src/commands/env/link.ts
  packages/eas-cli/src/commands/env/list.ts
  packages/eas-cli/src/commands/env/pull.ts
  packages/eas-cli/src/commands/env/unlink.ts
  packages/eas-cli/src/commands/env/update.ts
  packages/eas-cli/src/utils/prompts.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add tests for EnvironmentVariableDelete
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableDelete-test.ts
  packages/eas-cli/src/commands/env/__tests__/__snapshots__/EnvironmentVariableDelete-test.ts.snap
  packages/eas-cli/src/commands/env/delete.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update EnvironmentVariableMutation and associated commands
  packages/eas-cli/src/commands/env/create.ts
  packages/eas-cli/src/commands/env/update.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/mutations/EnvironmentVariableMutation.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update EnvironmentVariableCreate for multiple environments, add tests
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableCreate-test.ts
  packages/eas-cli/src/commands/env/create.ts
  packages/eas-cli/src/commands/env/get.ts
  packages/eas-cli/src/commands/env/list.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/EnvironmentVariable.ts
  packages/eas-cli/src/utils/formatVariable.ts
  packages/eas-cli/src/utils/variableUtils.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add tests to EnvironmentVariableGet
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableGet-test.ts
  packages/eas-cli/src/commands/env/get.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Refactor env:update, add tests
  packages/eas-cli/src/commandUtils/flags.ts
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableList-test.ts
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableUpdate-test.ts
  packages/eas-cli/src/commands/env/__tests__/__snapshots__/EnvironmentVariableUpdate-test.ts.snap
  packages/eas-cli/src/commands/env/update.ts
  packages/eas-cli/src/utils/prompts.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add tests to env:list
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableList-test.ts
  packages/eas-cli/src/commands/env/list.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Refactor env:link, add tests
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableLink-test.ts
  packages/eas-cli/src/commands/env/link.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/EnvironmentVariablesQuery.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Refactor env:list and add tests
  packages/eas-cli/src/commands/env/__tests__/EnvironmentVariableList-test.ts
  packages/eas-cli/src/commands/env/list.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add `submit:internal` command
  packages/eas-cli/src/commands/submit/internal.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add missing `id`
  packages/eas-cli/src/graphql/queries/GoogleServiceAccountKeyQuery.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Fix `archiveSource` trying to ask for better source in non-interactive mode
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add `zod` to dependencies
  packages/eas-cli/package.json
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Change `SubmitCommand` to return `Submitter`
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update GraphQL schema
  packages/eas-cli/graphql.schema.json
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Add queries for decrypted credentials values
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/AppStoreConnectApiKeyQuery.ts
  packages/eas-cli/src/graphql/queries/GoogleServiceAccountKeyQuery.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update tests
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/ios/__tests__/IosSubmitCommand-test.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update GraphQL and fix type errors
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/submit/internal.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/AppStoreConnectApiKeyQuery.ts
  packages/eas-cli/src/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/update/__tests__/getBranchNameFromChannelNameAsync-test.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[eas-cli] Add `submit:internal` (#2571)
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/submit/internal.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/AppStoreConnectApiKeyQuery.ts
  packages/eas-cli/src/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/__tests__/IosSubmitCommand-test.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/update/__tests__/getBranchNameFromChannelNameAsync-test.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[eas-cli] Add destination branch arguments to update:republish command
  CHANGELOG.md
  packages/eas-cli/src/commands/update/__tests__/index.test.ts
  packages/eas-cli/src/commands/update/__tests__/republish.test.ts
  packages/eas-cli/src/commands/update/__tests__/roll-back-to-embedded.test.ts
  packages/eas-cli/src/commands/update/republish.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/update/__tests__/getBranchFromChannelNameAndCreateAndLinkIfNotExistsAsync-test.ts
  packages/eas-cli/src/update/getBranchFromChannelNameAndCreateAndLinkIfNotExistsAsync.ts
  packages/eas-cli/src/update/republish.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[ci] Remove blurb about changelog bot since it is still disabled
  .github/workflows/changelog-bot.yml
  .github/workflows/changelog.yml
Owners: @szdziedzic, @khamilowicz, @sjchmiela

v12.5.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @szdziedzic, @khamilowicz, @sjchmiela

update CHANGELOG.md
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Fix worker asset upload error not being shown (#2579)
  CHANGELOG.md
  packages/eas-cli/src/worker/upload.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

refactor(eas-cli): split prompt from dev domain assignment and support it non-interactive
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/worker/deployment.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

docs: add changelog entry
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

docs: fix changelog entry
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

refactor(eas-cli): simplify the `eas deploy --json` output
  packages/eas-cli/src/commands/worker/deploy.ts
  packages/eas-cli/src/worker/utils/logs.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

docs: fix changelog entry
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

refactor(eas-cli): keep aliases as array in `--json` output
  packages/eas-cli/src/commands/worker/deploy.ts
  packages/eas-cli/src/worker/utils/logs.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

docs: fix changelog entry
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

fix(eas-cli): use proper name in "already taken" prompt
  packages/eas-cli/src/worker/deployment.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

refactor(eas-cli): simplify the output of `eas deploy --json` (#2596)
  CHANGELOG.md
  packages/eas-cli/src/commands/worker/deploy.ts
  packages/eas-cli/src/worker/utils/logs.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

chore: resolve linting issue
  packages/eas-cli/src/worker/deployment.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela
