Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

[eas-cli] add google service account key fragment (#632)
  CHANGELOG.md
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/credentials/GoogleServiceAccountKey.ts
Owners: none

Forward props
  packages/eas-cli/src/ora.ts
Owners: none

Forward props (#636)
  packages/eas-cli/src/ora.ts
Owners: none

do not fail in case of transient network errors
  packages/eas-cli/src/build/build.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/submit/utils/wait.ts
Owners: @dsokal, @wkozyra95, @barthap

do not fail in case of transient network errors (#638)
  CHANGELOG.md
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/submit/utils/wait.ts
Owners: @dsokal, @wkozyra95, @barthap

v0.28.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

use log-symbols to unify green ticks style
  packages/eas-cli/package.json
  packages/eas-cli/src/log.ts
  packages/eas-cli/src/utils/progress.ts
  yarn.lock
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

use log-symbols to unify green ticks style (#639)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/log.ts
  packages/eas-cli/src/utils/progress.ts
  yarn.lock
Owners: none

clean up tests output - mock console.log
  packages/eas-cli/src/__mocks__/ora.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/BuildCredentialsUtils-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupBuildCredentials-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/ConfigureProvisioningProfile-test.ts
  packages/eas-cli/src/devices/actions/create/__tests__/inputMethod-test.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/ios/__tests__/IosSubmitCommand-test.ts
Owners: @barthap, @dsokal

fix auto-submitting in fresh project
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

fix auto-submitting in fresh project (#640)
  CHANGELOG.md
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95

v0.28.2
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

[eas-cli] creds manager: stop prompting every iteration
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
Owners: none

fix experience with validating metro config in non-interactive mode
  packages/eas-cli/src/project/metroConfig.ts
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

fix experience with validating metro config in non-interactive mode (#644)
  CHANGELOG.md
  packages/eas-cli/src/project/metroConfig.ts
Owners: none

changelog stuff
  CHANGELOG.md
Owners: none

[eas-cli] creds manager: stop prompting every iteration (#641)
  CHANGELOG.md
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
Owners: none

[eas-cli] change export style
  packages/eas-cli/src/__tests__/project-utils.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppBuildCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidFcmMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidKeystoreMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/queries/AndroidAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleAppIdentifierMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDeviceMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDeviceRegistrationRequestMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDistributionCertificateMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleProvisioningProfileMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/ApplePushKeyMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleTeamMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppBuildCredentialsMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/__mocks__/AppleDeviceMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleAppIdentifierQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDeviceQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleProvisioningProfileQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/ApplePushKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleTeamQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/IosAppBuildCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/AppleTeamQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/utils/provisioningProfile.ts
  packages/eas-cli/src/devices/actions/create/__mocks__/inputMethod.ts
  packages/eas-cli/src/devices/actions/create/__mocks__/registrationUrlMethod.ts
  packages/eas-cli/src/graphql/mutations/AppMutation.ts
  packages/eas-cli/src/graphql/mutations/BuildMutation.ts
  packages/eas-cli/src/graphql/mutations/PublishMutation.ts
  packages/eas-cli/src/graphql/queries/ProjectQuery.ts
  packages/eas-cli/src/graphql/queries/PublishQuery.ts
  packages/eas-cli/src/graphql/queries/UserQuery.ts
  packages/eas-cli/src/project/__tests__/project-utils.ts
Owners: none

changelog stuff
  CHANGELOG.md
Owners: none

[eas-cli] change export style (#647)
  CHANGELOG.md
  packages/eas-cli/src/__tests__/project-utils.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppBuildCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidFcmMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidKeystoreMutation.ts
  packages/eas-cli/src/credentials/android/api/graphql/queries/AndroidAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleAppIdentifierMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDeviceMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDeviceRegistrationRequestMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDistributionCertificateMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleProvisioningProfileMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/ApplePushKeyMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleTeamMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppBuildCredentialsMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/__mocks__/AppleDeviceMutation.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleAppIdentifierQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDeviceQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleProvisioningProfileQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/ApplePushKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleTeamQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/IosAppBuildCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/AppleTeamQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/utils/provisioningProfile.ts
  packages/eas-cli/src/devices/actions/create/__mocks__/inputMethod.ts
  packages/eas-cli/src/devices/actions/create/__mocks__/registrationUrlMethod.ts
  packages/eas-cli/src/graphql/mutations/AppMutation.ts
  packages/eas-cli/src/graphql/mutations/BuildMutation.ts
  packages/eas-cli/src/graphql/mutations/PublishMutation.ts
  packages/eas-cli/src/graphql/queries/ProjectQuery.ts
  packages/eas-cli/src/graphql/queries/PublishQuery.ts
  packages/eas-cli/src/graphql/queries/UserQuery.ts
  packages/eas-cli/src/project/__tests__/project-utils.ts
Owners: none

use asMock instead of 'as jest.Mock'
  packages/eas-cli/src/commandUtils/__tests__/EasCommand-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/AssignFcm-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/BuildCredentialsUtils-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateFcm-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/DownloadKeystore-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveFcm-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveKeystore-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignPushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/ConfigureProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreatePushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveDistributionCertificate-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemovePushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetupProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetupPushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetupTargetBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/manager/__tests__/SelectAndroidBuildCredentials-test.ts
  packages/eas-cli/src/project/__tests__/projectUtils-test.ts
  packages/eas-cli/src/user/__tests__/actions-test.ts
  packages/eas-cli/src/user/__tests__/otp-test.ts
Owners: none

add support for writing to custom Info.plist files
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/ios/version.ts
Owners: @dsokal, @wkozyra95

support target specific Info.plist (#635)
  CHANGELOG.md
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/ios/version.ts
Owners: @dsokal, @wkozyra95

pr feedback
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/GoogleServiceAccountKeyMutation.ts
  packages/eas-cli/src/credentials/android/credentials.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
Owners: none

changelog stuff
  CHANGELOG.md
Owners: none

[eas-cli] create GoogleServiceAccountKey
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/GoogleServiceAccountKeyMutation.ts
  packages/eas-cli/src/credentials/android/credentials.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

[eas-cli] create GoogleServiceAccountKey (#642)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/GoogleServiceAccountKeyMutation.ts
  packages/eas-cli/src/credentials/android/credentials.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] assign google service account key
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/AssignGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/AssignGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/AndroidAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/android/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/android/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/credentials/AndroidAppCredentials.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

update eas-build-job adds xcode 13 support
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] update eas-build-job + add xcode 13 support (#651)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
