Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

[eas-cli] use config-plugin to compute runtime version (#697)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/branch/publish.ts
  yarn.lock
Owners: none

[eas-cli] Update the submission prompt options
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

fix typo
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

[eas-cli] add additionalTypenames for credentials
  packages/eas-cli/src/credentials/android/api/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDeviceQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleProvisioningProfileQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/ApplePushKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleTeamQuery.ts
Owners: none

unify eas.json and build job format
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-json/package.json
  packages/eas-json/src/DeprecatedConfig.types.ts
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/migrate-test.ts
  packages/eas-json/src/migrate.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Skip validating updates scripts integration, which no longer exist in SDK 43+
  packages/eas-cli/src/build/android/UpdatesModule.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
Owners: @dsokal, @wkozyra95

Remove fs import
  packages/eas-cli/src/build/android/UpdatesModule.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG
  CHANGELOG.md
Owners: none

[eas-cli] Skip validating updates scripts integration, which no longer exist in SDK 43+ (#706)
  CHANGELOG.md
  packages/eas-cli/src/build/android/UpdatesModule.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
Owners: @dsokal, @wkozyra95

v0.33.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

unify eas.json and build job format (#701)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-json/package.json
  packages/eas-json/src/DeprecatedConfig.types.ts
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/migrate-test.ts
  packages/eas-json/src/migrate.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

better error message when eas.json is invalid
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/DeprecatedEasJsonReader.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/errors.ts
  packages/eas-json/src/index.ts
Owners: @dsokal, @wkozyra95

add unit test
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

better error message when eas.json is invalid (#707)
  CHANGELOG.md
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/DeprecatedEasJsonReader.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/errors.ts
  packages/eas-json/src/index.ts
Owners: @dsokal, @wkozyra95

don't print logs to stderr
  packages/eas-cli/src/log.ts
Owners: none

fix changelog workflow - use sed for trimming string
  .github/workflows/changelog.yml
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

don't print logs to stderr (#708)
  CHANGELOG.md
  packages/eas-cli/src/log.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] add additionalTypenames for other queries
  packages/eas-cli/src/graphql/queries/BuildQuery.ts
  packages/eas-cli/src/graphql/queries/EnvironmentSecretsQuery.ts
  packages/eas-cli/src/graphql/queries/ProjectQuery.ts
  packages/eas-cli/src/graphql/queries/PublishQuery.ts
  packages/eas-cli/src/graphql/queries/SubmissionQuery.ts
  packages/eas-cli/src/graphql/queries/UserQuery.ts
  packages/eas-cli/src/graphql/queries/WebhookQuery.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[ENG-2143][eas-cli] add additionalTypenames for credentials (#703)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/api/graphql/queries/GoogleServiceAccountKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDeviceQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleDistributionCertificateQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleProvisioningProfileQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/ApplePushKeyQuery.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppleTeamQuery.ts
Owners: none

[eas-cli] add additionalTypenames for other queries (#704)
  CHANGELOG.md
  packages/eas-cli/src/graphql/queries/BuildQuery.ts
  packages/eas-cli/src/graphql/queries/EnvironmentSecretsQuery.ts
  packages/eas-cli/src/graphql/queries/ProjectQuery.ts
  packages/eas-cli/src/graphql/queries/PublishQuery.ts
  packages/eas-cli/src/graphql/queries/SubmissionQuery.ts
  packages/eas-cli/src/graphql/queries/UserQuery.ts
  packages/eas-cli/src/graphql/queries/WebhookQuery.ts
Owners: none

[eas-cli] enforce additional typenames
  packages/eas-cli/src/graphql/client.ts
  packages/eas-cli/src/graphql/queries/BuildQuery.ts
  packages/eas-cli/src/graphql/queries/EnvironmentSecretsQuery.ts
  packages/eas-cli/src/graphql/queries/SubmissionQuery.ts
Owners: none

fix stuff
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/project/info.ts
  packages/eas-cli/src/commands/update/view.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/user/User.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

add no commit workflow
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/credentials/credentialsJson/update.ts
  packages/eas-cli/src/vcs/__tests__/local-test.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/clients/gitNoCommit.ts
  packages/eas-cli/src/vcs/clients/noVcs.ts
  packages/eas-cli/src/vcs/git.ts
  packages/eas-cli/src/vcs/index.ts
  packages/eas-cli/src/vcs/local.ts
  packages/eas-cli/src/vcs/vcs.ts
Owners: @dsokal, @wkozyra95

remove old migration process + add cli field to eas.json
  CHANGELOG.md
  packages/eas-cli/src/analytics.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/diagnostics.ts
  packages/eas-cli/src/credentials/credentialsJson/update.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/project/workflow.ts
  packages/eas-cli/src/utils/cli.ts
  packages/eas-cli/src/vcs/__tests__/local-test.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/index.ts
  packages/eas-cli/src/vcs/local.ts
  packages/eas-json/src/DeprecatedConfig.types.ts
  packages/eas-json/src/DeprecatedEasJsonReader.ts
  packages/eas-json/src/DeprecatedEasJsonSchema.ts
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/migrate-test.ts
  packages/eas-json/src/index.ts
  packages/eas-json/src/migrate.ts
Owners: @dsokal, @wkozyra95

[eas-cli] enforce additionalTypenames on graphql queries (#709)
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/project/info.ts
  packages/eas-cli/src/commands/update/view.ts
  packages/eas-cli/src/graphql/client.ts
  packages/eas-cli/src/graphql/queries/BuildQuery.ts
  packages/eas-cli/src/graphql/queries/EnvironmentSecretsQuery.ts
  packages/eas-cli/src/graphql/queries/SubmissionQuery.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/user/User.ts
Owners: none

[eas-cli] remove unneeded parameters
  packages/eas-cli/src/credentials/ios/actions/CreateDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/CreatePushKey.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
Owners: none

Apply suggestions from code review
  CHANGELOG.md
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/local.ts
  packages/eas-json/src/EasJsonSchema.ts
Owners: @dsokal, @wkozyra95

review feedback
  packages/eas-cli/src/analytics.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/diagnostics.ts
  packages/eas-cli/src/credentials/credentialsJson/update.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/project/workflow.ts
  packages/eas-cli/src/utils/easCli.ts
  packages/eas-cli/src/utils/expoCli.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/index.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] remove unneeded parameters (#710)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/actions/CreateDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/CreatePushKey.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
Owners: none

[eas-cli] refactor android manager
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
Owners: none

refactor ios
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
