Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

API -> Api
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
Owners: none

fix tsc
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] create + validate asc api key, infer issuer ids (#718)
  CHANGELOG.md
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/CreateAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AscApiKeyUtils-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppStoreConnectApiKeyMutation.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.types.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/ascApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/validators/validateAscApiKey.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
Owners: @barthap, @dsokal

[eas-cli] assign asc api keys to project
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AssignAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

fix compilation errors
  packages/eas-cli/src/credentials/ios/actions/AssignAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] assign asc api keys to project (#719)
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AssignAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/IosAppCredentialsMutation.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] support removal of asc api keys
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppStoreConnectApiKeyQuery.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix changelog
  CHANGELOG.md
Owners: none

Update packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
Owners: none

Update packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
Owners: none

[eas-cli] support removal of asc api keys (#721)
  CHANGELOG.md
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/api/graphql/queries/AppStoreConnectApiKeyQuery.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

[eas-cli] cleanup up creds prompt method
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Bump @expo/apple-utils to better handle some error messages (#723)
  CHANGELOG.md
  packages/eas-cli/package.json
  yarn.lock
Owners: none

Replace eas:secrets with eas:secret (#727)
  packages/eas-cli/README.md
  packages/eas-cli/src/commands/secret/delete.ts
Owners: none

[eas-cli] Use actor `displayName` when printing build info
  packages/eas-cli/src/build/utils/formatBuild.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/Build.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] improve vcs migration experience
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] cleanup up creds prompt method (#728)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
Owners: none

[eas-cli] setup asc api key
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/errors.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetupAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetupAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/validators/validateAscApiKey.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Use actor `displayName` when printing build info (#730)
  CHANGELOG.md
  packages/eas-cli/src/build/utils/formatBuild.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/Build.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] setup -> set up
  packages/eas-cli/src/credentials/android/AndroidCredentialsProvider.ts
  packages/eas-cli/src/credentials/android/actions/SetUpBuildCredentials.ts
  packages/eas-cli/src/credentials/android/actions/SetUpBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/android/actions/SetUpGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpBuildCredentials-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/ios/IosCredentialsProvider.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpBuildCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpInternalProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpPushKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpTargetBuildCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpTargetBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAdhocProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpInternalProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpPushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpTargetBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
Owners: @barthap, @dsokal

setup -> set up
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

fix stuff
  packages/eas-cli/src/credentials/ios/actions/__mocks__/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpProvisioningProfile-test.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] setup asc api key (#733)
  CHANGELOG.md
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/errors.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/validators/validateAscApiKey.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

tmp
  packages/eas-cli/src/credentials/ios/actions/SetupSubmissionCredentials.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

[eas-cli] Handle Apple servers maintenance in `eas submit`
  packages/eas-cli/src/submit/utils/errors.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] improve vcs migration experience (#732)
  CHANGELOG.md
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Handle Apple servers maintenance in `eas submit` (#738)
  CHANGELOG.md
  packages/eas-cli/src/submit/utils/errors.ts
Owners: @barthap, @dsokal

fix merge errors
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

[eas-cli] setup -> set up (#735)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/AndroidCredentialsProvider.ts
  packages/eas-cli/src/credentials/android/actions/SetUpBuildCredentials.ts
  packages/eas-cli/src/credentials/android/actions/SetUpBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/android/actions/SetUpGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpBuildCredentials-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetUpGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/ios/IosCredentialsProvider.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpBuildCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpInternalProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpPushKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpTargetBuildCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpTargetBuildCredentialsFromCredentialsJson.ts
  packages/eas-cli/src/credentials/ios/actions/__mocks__/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAdhocProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpInternalProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpProvisioningProfile-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpPushKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpTargetBuildCredentialsFromCredentialsJson-test.ts
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
Owners: @barthap, @dsokal

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
