Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

fix lint error
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
Owners: none

Update bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
Owners: none

[eas-cli] check EAS Update URL is correctly configured before publish (#789)
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

[eas-cli] add eas update:configure
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

add correct fyi
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

add logging
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

upgrade @expo/* deps
  packages/eas-cli/package.json
Owners: none

better log messages
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] upgrade @expo/* deps (#801)
  CHANGELOG.md
  packages/eas-cli/package.json
Owners: none

Update yarn.lock
  yarn.lock
Owners: none

v0.38.2
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix: add typescript devDependency to eas-json for consistency
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

docs: fix broken links to all command source files in readme (#791)
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update README.md
  packages/eas-cli/README.md
Owners: none

print warning about outdated version to stderr
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] print warning about outdated version to stderr (#805)
  CHANGELOG.md
  packages/eas-cli/package.json
  yarn.lock
Owners: none

Update packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

Update packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

fix lint
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] add eas update:configure (#800)
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] upgrade @expo/* deps
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] upgrade @expo/* deps (#806)
  CHANGELOG.md
  packages/eas-cli/package.json
  yarn.lock
Owners: none

v0.38.3
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] add missing @expo/sdk-runtime-versions dependency
  packages/eas-cli/package.json
  yarn.lock
Owners: none

[eas-cli] add missing @expo/sdk-runtime-versions dependency (#808)
  packages/eas-cli/package.json
  yarn.lock
Owners: none

[eas-cli] pass bundle identifier when resolving asc app id
  packages/eas-cli/src/submit/ios/AppProduce.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] pass bundle identifier when resolving asc app id (#809)
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/AppProduce.ts
Owners: @barthap, @dsokal

[eas-cli] fix typos in eas channel:view logging
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/update/utils.ts
Owners: none

[eas-cli] fix typos in eas channel:view logging (#810)
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/update/utils.ts
Owners: none

[eas-cli] set runtime version in eas update:configure
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[changelog-bot] always capitalize message
  scripts/src/changelogEntry.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
