Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

fix: single flags parse
  packages/eas-cli/src/commands/device/delete.ts
Owners: none

feat: delete device on apple
  packages/eas-cli/src/commands/device/delete.ts
Owners: none

style: code styling
  packages/eas-cli/src/commands/device/delete.ts
Owners: none

remove 'eas build:configure' and refactor project config synchronization
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/syncProjectConfiguration.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/ios/syncProjectConfiguration.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/configure.ts
Owners: @dsokal, @wkozyra95

better ux
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/commands/build/configure.ts
Owners: @dsokal, @wkozyra95

remove --skip-project-configuration flag
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

address PR feedback
  packages/eas-cli/src/build/android/syncProjectConfiguration.ts
Owners: @dsokal, @wkozyra95

run Android cleanup in build:configure
  packages/eas-cli/src/build/android/syncProjectConfiguration.ts
  packages/eas-cli/src/commands/build/configure.ts
Owners: @dsokal, @wkozyra95

simplify updates configuration
  packages/eas-cli/src/build/android/UpdatesModule.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: @dsokal, @wkozyra95

add build:configure back
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

refactor build configuration + don't configure Android projects locally (#888)
  CHANGELOG.md
  packages/eas-cli/src/build/android/UpdatesModule.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/android/syncProjectConfiguration.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/ios/syncProjectConfiguration.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade eas-cli-local-build-plugin to 0.0.58
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

v0.44.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade oclif deps
  package.json
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade @types/node-forge
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

don't use forked `@oclif/plugin-autocomplete` (#903)
  CHANGELOG.md
  package.json
  packages/eas-cli/package.json
  yarn.lock
Owners: none

style: refactoring main entry method for delete
  packages/eas-cli/src/commands/device/delete.ts
Owners: none

[eas-cli] Only configure updates in generic projects
  packages/eas-cli/src/commands/build/configure.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Only configure updates in generic projects (#904)
  CHANGELOG.md
  packages/eas-cli/src/commands/build/configure.ts
Owners: @dsokal, @wkozyra95

v0.44.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix webhook:update description
  packages/eas-cli/src/commands/webhook/update.ts
Owners: none

style: small refactoring
  packages/eas-cli/src/commands/device/delete.ts
Owners: none

delete device functionality (#890)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/device/delete.ts
  packages/eas-cli/src/commands/device/list.ts
  packages/eas-cli/src/credentials/ios/actions/DeviceUtils.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppleDeviceMutation.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

docs: update readme
  packages/eas-cli/README.md
Owners: none

upgrade axios to 0.24.0
  packages/eas-cli/package.json
  yarn.lock
Owners: none

upgrade dependencies
  package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

fix TS error
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

regenerate graphql code
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade dependencies (#872)
  CHANGELOG.md
  package.json
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/package.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @barthap, @dsokal, @wkozyra95

v0.45.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

feat: add support for `prebuildCommand` in eas.json
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-json/src/build/schema.ts
  packages/eas-json/src/build/types.ts
Owners: @dsokal, @wkozyra95
