Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman, @bycedric

fix(update): make sure people can run `eas update:configure` without project id
  packages/eas-cli/src/commands/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

update CHANGELOG.md
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

refactor(update): skip setting the sdkVersion when configuring
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): only merge nested objects when configuring
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

[eas-cli][update] Attach Git Commit to EAS Update
  packages/eas-cli/graphql-codegen.yml
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

update changelog
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

include commit in update summary log
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): refetch the config whenever projects are auto-setup
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): simplify the config object merging
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): deprecate the --auto flag for eas update
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

update CHANGELOG.md
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

refactor(update): change logging based on review input
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): drop fyi .md extension from logging
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): alawys reload the project config after ensuring eas updates
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): linting issue caused by logging changes
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): drop unused exports from updates configure code
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): split merge config to separate method for testing
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): show full install log when debugging is enabled
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): add back the missing <remove this key> instruction
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

[ENG-6619] validate icon PNGs before running build (#1477)
  .gitattributes
  packages/eas-cli/package.json
  packages/eas-cli/src/build/__tests__/fixtures/icon-alpha.png
  packages/eas-cli/src/build/__tests__/fixtures/icon-jpg.png
  packages/eas-cli/src/build/__tests__/fixtures/icon-no-alpha.png
  packages/eas-cli/src/build/__tests__/validate-test.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/utils/__tests__/fixtures/icon-alpha.png
  packages/eas-cli/src/utils/__tests__/fixtures/icon-no-alpha.png
  packages/eas-cli/src/utils/__tests__/fixtures/icon.jpg
  packages/eas-cli/src/utils/__tests__/image-test.ts
  packages/eas-cli/src/utils/image.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

[eas-cli] Improve configuration setup for EAS update (#1479)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/update/__tests__/utils-test.ts
  packages/eas-cli/src/update/configure.ts
  packages/eas-cli/src/utils/statuspageService.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

[eas-cli][update] Attach Git Commit to EAS Update (#1499)
  CHANGELOG.md
  packages/eas-cli/graphql-codegen.yml
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

pass config around
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/utils/__tests__/expoCli-test.ts
  packages/eas-cli/src/utils/expoCli.ts
Owners: @EvanBacon, @byCedric, @wschurman, @dsokal, @wkozyra95

use version check for disabling global CLI (#1474)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/utils/__tests__/expoCli-test.ts
  packages/eas-cli/src/utils/expoCli.ts
  packages/eas-cli/src/utils/expodash/__tests__/memoize-test.ts
  packages/eas-cli/src/utils/expodash/memoize.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

update CHANGELOG.md
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

set EAS Update default channel to the build profile name
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/utils/__tests__/updates-test.ts
  packages/eas-cli/src/build/utils/updates.ts
  packages/eas-cli/src/project/__tests__/projectUtils-test.ts
  packages/eas-cli/src/project/__tests__/utils.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/IosSubmitCommand-test.ts
  packages/eas-cli/src/update/configure.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

address PR feedback
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

[eas-json] fix ordering of distribution enum values
  packages/eas-json/schema/eas.schema.json
Owners: @dsokal, @wkozyra95

CODEOWNERS:

* @dsokal @wkozyra95

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @dsokal
packages/eas-cli/src/commands/submit.ts @dsokal

packages/eas-cli/src/update @EvanBacon @byCedric @wschurman
packages/eas-cli/src/commands/update @EvanBacon @byCedric @wschurman

packages/eas-cli/schema @bycedric
packages/eas-cli/src/metadata @bycedric
packages/eas-cli/src/commands/metadata @bycedric

packages/eas-json @dsokal @wkozyra95
