Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

v0.41.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] fix typo in branch:delete description
  packages/eas-cli/src/commands/branch/delete.ts
Owners: none

[eas-cli] add channel:delete
  packages/eas-cli/src/commands/channel/delete.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

correct json output
  packages/eas-cli/src/commands/channel/delete.ts
Owners: none

[eas-cli] support staging and local Update URLs
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] clean up eas update logs
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/utils/expoCli.ts
Owners: none

[eas-cli] allow eas-cli to be run outside of expo projects
  packages/eas-cli/src/commandUtils/EasCommand.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Fix ASC prompt displayed in --non-interactive
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

Fix CHANGELOG
  CHANGELOG.md
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Apply feedback - fail in non-interactive
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

[eas-cli] Fix ASC prompt displayed in --non-interactive (#841)
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

[eas-cli] add support for autocompletion
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

use fork
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update all oclif packages
  packages/eas-cli/package.json
  yarn.lock
Owners: none

move logic to api.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: none

Make all EAS Update related commands public
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/delete.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/view.ts
Owners: none

adds changelog
  CHANGELOG.md
Owners: none

remove async
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: none

print expo-updates version in eas diagnostics
  packages/eas-cli/src/commands/diagnostics.ts
Owners: none

update oclif forks
  package.json
  packages/eas-cli/package.json
  yarn.lock
Owners: none

[eas-cli] Make all EAS Update related commands public (#854)
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/delete.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/view.ts
Owners: none

[eas-cli] support staging and local Update URLs (#849)
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: none

feedback
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/utils/expoCli.ts
Owners: @dsokal, @wkozyra95

fix: add `requireCommit` setting to warning if git is not installed
  packages/eas-cli/src/vcs/clients/git.ts
Owners: none

docs: add changelog entry for PR
  CHANGELOG.md
Owners: none

v0.41.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] clean up eas update logs (#850)
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/utils/expoCli.ts
Owners: @dsokal, @wkozyra95

Apply suggestions from code review
  CHANGELOG.md
  packages/eas-cli/src/commands/channel/delete.ts
Owners: none

imitate requiresAuthentication flow
  CHANGELOG.md
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/account/login.ts
  packages/eas-cli/src/commands/account/logout.ts
  packages/eas-cli/src/commands/account/view.ts
Owners: none

fix typo
  packages/eas-cli/src/commands/channel/delete.ts
Owners: none

no var reassignment
  packages/eas-cli/src/commands/channel/delete.ts
Owners: none

move grahpql to the bottom
  packages/eas-cli/src/commands/channel/edit.ts
Owners: none

Revert "move grahpql to the bottom"
  packages/eas-cli/src/commands/channel/edit.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
