Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

Apply code review suggestions
  CHANGELOG.md
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/__tests__/ArchiveSource-test.ts
Owners: @barthap, @dsokal

de-nest getDefaultProfilesAsync
  packages/eas-cli/src/utils/profiles.ts
Owners: none

remove "_" variable name
  packages/eas-json/src/EasJsonReader.ts
Owners: @dsokal, @wkozyra95

fix changelog
  CHANGELOG.md
  packages/eas-cli/README.md
Owners: none

incorporate feedback
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
Owners: @dsokal, @wkozyra95, @barthap

restore readme to main
  packages/eas-cli/README.md
Owners: none

lint
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/submit.ts
Owners: @dsokal, @wkozyra95, @barthap

pr feedback
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.types.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/ascApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
Owners: none

fix tests
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
Owners: none

grammar
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
Owners: none

[eas-cli] create/list/revoke asc api keys via baconlane (#687)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.types.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/ascApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
Owners: none

[eas-cli][submit] Ability to select a build from the list (#688)
  CHANGELOG.md
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/__tests__/ArchiveSource-test.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/utils/builds.ts
Owners: @barthap, @dsokal

v0.32.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

re-generate graphql code
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
Owners: none

rename generic workflow -> bare workflow
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/project/__tests__/workflow-test.ts
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/__tests__/gradle-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
  packages/eas-json/src/__tests__/migrate-test.ts
Owners: @dsokal, @wkozyra95

fix typos
  packages/eas-cli/src/credentials/ios/IosCredentialsProvider.ts
  packages/eas-cli/src/credentials/ios/actions/SetupTargetBuildCredentials.ts
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/build/utils/devClient.ts
Owners: @dsokal, @wkozyra95

rename generic workflow -> bare workflow (#690)
  packages/eas-cli/src/build/android/__tests__/version-test.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/project/__tests__/workflow-test.ts
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/__tests__/gradle-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
  packages/eas-json/src/__tests__/migrate-test.ts
Owners: @dsokal, @wkozyra95

don't capitalize credentials.json
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

eas submit - skip second prompt for apple id when already signed in with apple
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

eas submit - skip second prompt for apple id when already signed in with apple (#691)
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

unify reading app.json
  packages/eas-cli/src/build/utils/appJson.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
Owners: @dsokal, @wkozyra95

unify reading app.json (#692)
  packages/eas-cli/src/build/utils/appJson.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Make "production" the default profile name (#677)
  CHANGELOG.md
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95, @barthap

v0.33.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] use config-plugin to deduce runtime version
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

add changelog
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

fix map to filter
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

bump prebuild-config and config
  packages/eas-cli/package.json
  yarn.lock
Owners: none

bump config-plugins
  packages/eas-cli/package.json
  yarn.lock
Owners: none

allow patches
  packages/eas-cli/package.json
Owners: none

Update packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

Update packages/eas-cli/package.json
  packages/eas-cli/package.json
Owners: none

rework function
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none
