Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

update CHANGELOG.md
  CHANGELOG.md
Owners: none

feat: add json output for started builds
  packages/eas-cli/src/build/runBuildAndSubmit.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] add Monterey image
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] add Monterey image (#922)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

fix: only output build fragments
  packages/eas-cli/src/build/runBuildAndSubmit.ts
Owners: @dsokal, @wkozyra95

add support for `prebuildCommand` in eas.json (#919)
  CHANGELOG.md
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-json/src/build/schema.ts
  packages/eas-json/src/build/types.ts
Owners: @dsokal, @wkozyra95

add json output for started builds (#921)
  CHANGELOG.md
  packages/eas-cli/src/build/runBuildAndSubmit.ts
Owners: @dsokal, @wkozyra95

v0.45.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

unify command descriptions
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/analytics.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/build/cancel.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/commands/credentials.ts
  packages/eas-cli/src/commands/diagnostics.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/delete.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/list.ts
  packages/eas-cli/src/commands/update/view.ts
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/delete.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/commands/webhook/update.ts
  packages/eas-cli/src/commands/webhook/view.ts
Owners: @dsokal, @wkozyra95, @barthap

fix lint warnings
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/submit.ts
Owners: @barthap, @dsokal

Apply suggestions from code review
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/submit.ts
Owners: @barthap, @dsokal

address PR feedback
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/delete.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/delete.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/commands/webhook/update.ts
  packages/eas-cli/src/commands/webhook/view.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

unify command descriptions (#925)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/analytics.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/build/cancel.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/delete.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/commands/credentials.ts
  packages/eas-cli/src/commands/diagnostics.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/delete.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/list.ts
  packages/eas-cli/src/commands/update/view.ts
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/delete.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/commands/webhook/update.ts
  packages/eas-cli/src/commands/webhook/view.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] fix typings of getBranchByNameAsync
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/BranchQuery.ts
  packages/eas-cli/src/project/projectUtils.ts
Owners: none

revert channel fixes
  packages/eas-cli/src/commands/channel/rollout.ts
Owners: none

refactor channel:edit
  packages/eas-cli/src/commands/channel/edit.ts
Owners: none

condense getBranchByNameAsync and remove bang
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/graphql/queries/BranchQuery.ts
Owners: none

a bit more cleanup on getBranchNameAsync
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/graphql/queries/BranchQuery.ts
Owners: none

make consistent
  packages/eas-cli/src/commands/channel/edit.ts
Owners: none

upgrade deps
  package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade deps (#939)
  CHANGELOG.md
  package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

fix url placeholder for iOS submits
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix url placeholder for iOS submits (#941)
  CHANGELOG.md
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

v0.46.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] fix get branchByNameAsync typing (#929)
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/BranchQuery.ts
  packages/eas-cli/src/project/projectUtils.ts
Owners: none

[eas-cli] clean up rollout code
  packages/eas-cli/src/commands/channel/rollout.ts
Owners: none

remove some conditionals
  packages/eas-cli/src/commands/channel/rollout.ts
Owners: none

refactor graphql call out
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/graphql/queries/ChannelQuery.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

feedback
  packages/eas-cli/src/commands/channel/rollout.ts
Owners: none

[eas-cli] return an informative error if rollout channel dne (#930)
  CHANGELOG.md
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/graphql/queries/ChannelQuery.ts
Owners: none

[eas-cli] check expo-updates is installed before a publish
  packages/eas-cli/src/commands/update/index.ts
Owners: none

[eas-cli] update error message to new publish command
  packages/eas-cli/src/commands/update/delete.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
