Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

[eas-cli] fix graphql
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

only warn in non-interactive workflow
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

add no commit workflow (#695)
  CHANGELOG.md
  packages/eas-cli/src/analytics.ts
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/diagnostics.ts
  packages/eas-cli/src/credentials/credentialsJson/update.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/project/workflow.ts
  packages/eas-cli/src/utils/easCli.ts
  packages/eas-cli/src/utils/expoCli.ts
  packages/eas-cli/src/vcs/__tests__/local-test.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/clients/gitNoCommit.ts
  packages/eas-cli/src/vcs/clients/noVcs.ts
  packages/eas-cli/src/vcs/git.ts
  packages/eas-cli/src/vcs/index.ts
  packages/eas-cli/src/vcs/local.ts
  packages/eas-cli/src/vcs/vcs.ts
  packages/eas-json/src/DeprecatedConfig.types.ts
  packages/eas-json/src/DeprecatedEasJsonReader.ts
  packages/eas-json/src/DeprecatedEasJsonSchema.ts
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/migrate-test.ts
  packages/eas-json/src/index.ts
  packages/eas-json/src/migrate.ts
Owners: @dsokal, @wkozyra95

[eas-cli] refactor credentials manager (#712)
  CHANGELOG.md
  packages/eas-cli/src/credentials/manager/Actions.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: none

[eas-cli] fix graphql (#713)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
Owners: @barthap, @dsokal

[eas-cli] correct warning message text (#715)
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

(minor) Incorrect instructions in warning message Fixes #715
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

Update packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

[eas-cli] correct warning message text (#715) (#716)
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

generate graphql code
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
Owners: none

rename useDevelopmentClient to developmentClient
  CHANGELOG.md
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
Owners: @dsokal, @wkozyra95

upgrade @expo/eas-build-job
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

rename `useDevelopmentClient` to `developmentClient` (#711)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/graphql.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/ios/graphql.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-json/package.json
  packages/eas-json/src/EasBuild.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

v0.34.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Add missing period
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

[eas-cli] asc api key graphql type and print support
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
  packages/eas-cli/src/graphql/types/credentials/AppStoreConnectApiKey.ts
  packages/eas-cli/src/graphql/types/credentials/IosAppCredentials.ts
Owners: none

gql
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
Owners: none

gql
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] asc api key graphql type and print support (#717)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/ios/api/graphql/queries/__mocks__/IosAppCredentialsQuery.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/credentials/AppStoreConnectApiKey.ts
  packages/eas-cli/src/graphql/types/credentials/IosAppCredentials.ts
Owners: none

[eas-cli] create + validate asc api key, infer issuer ids
  packages/eas-cli/src/credentials/__tests__/fixtures-appstore.ts
  packages/eas-cli/src/credentials/__tests__/fixtures-ios.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/CreateAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AscApiKeyUtils-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/api/graphql/mutations/AppStoreConnectApiKeyMutation.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.types.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/ascApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/validators/validateAscApiKey.ts
  packages/eas-cli/src/credentials/utils/promptForCredentials.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

check if commit is required after dev client install
  packages/eas-cli/src/build/utils/devClient.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] check if commit is required after dev client install (#722)
  CHANGELOG.md
  packages/eas-cli/src/build/utils/devClient.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

clean up package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

add clean script
  package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

v0.34.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Bump @expo/apple-utils to better handle some error messages
  packages/eas-cli/package.json
  yarn.lock
Owners: none

Update CHANGELOG
  CHANGELOG.md
Owners: none

Replace eas:secrets with eas:secret
  packages/eas-cli/README.md
  packages/eas-cli/src/commands/secret/delete.ts
Owners: none

more pr feedbakc
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateAscApiKey-test.ts
Owners: none

some pr feedback
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
