Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

Update packages/eas-cli/src/build/ios/version.ts
  packages/eas-cli/src/build/ios/version.ts
Owners: @dsokal, @wkozyra95

[eas-cli] auto create channel on publish (#766)
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/channel/create.ts
Owners: none

[eas-cli] make the missing eas.json messages better
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-json/src/EasJsonReader.ts
Owners: @dsokal, @wkozyra95

make error upstream
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-json/src/EasJsonReader.ts
Owners: @dsokal, @wkozyra95

revert
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
Owners: none

fix tests and stuff
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/errors.ts
Owners: @dsokal, @wkozyra95

show plist path when parsing failed (#768)
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/version.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/utils/plist.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

update images
  packages/eas-cli/src/build/context.ts
Owners: @dsokal, @wkozyra95

remove eas availability checks
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/project/isEasEnabledForProject.ts
Owners: @dsokal, @wkozyra95, @barthap

remove eas availability checks (#771)
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/project/isEasEnabledForProject.ts
Owners: @dsokal, @wkozyra95, @barthap

interactively configure git user.name and user.email
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/vcs.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] make the missing eas.json messages better (#770)
  CHANGELOG.md
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/errors.ts
Owners: @dsokal, @wkozyra95

address PR feedback
  packages/eas-cli/src/vcs/clients/git.ts
Owners: none

interactively configure git user.name and user.email (#772)
  CHANGELOG.md
  packages/eas-cli/src/build/utils/repository.ts
  packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/vcs.ts
Owners: @dsokal, @wkozyra95

upgrade eas-cli-local-build-plugin to 0.0.50
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

v0.37.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Improve unknown error message from #740
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade typescript to 4.5.2
  package.json
  scripts/package.json
  scripts/yarn.lock
  yarn.lock
Owners: none

bump oclif deps
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade typescript to 4.5.2 (#781)
  CHANGELOG.md
  package.json
  packages/eas-cli/package.json
  scripts/package.json
  scripts/yarn.lock
  yarn.lock
Owners: none

Update bundleIdCapabilities.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
Owners: none

Update packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
Owners: none

[eas-cli] compute the runtime version for a build's metadata
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix tests
  packages/eas-cli/package.json
  yarn.lock
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] compute the runtime version for a build's metadata (#783)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

better error message when git is not installed
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/vcs/clients/git.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] make runtime version nullable
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

simplify imports
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
