Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

pr feedback
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
Owners: @barthap, @dsokal

[eas-cli] integrated credentials service with android submissions
  packages/eas-cli/src/credentials/android/credentials.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
  packages/eas-cli/src/submit/context.ts
Owners: @barthap, @dsokal

pr feedback
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
Owners: @barthap, @dsokal

dont print path in summary if it doesnt exist
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
Owners: @barthap, @dsokal

fix tests
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/googleServiceAccountKey-test.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
Owners: @barthap, @dsokal

[eas-cli] integrated credentials service with android submissions (#664)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/credentials.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/googleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
  packages/eas-cli/src/submit/context.ts
Owners: @barthap, @dsokal

add option to review adhoc devices when reusing profile
  packages/eas-cli/src/credentials/ios/actions/SetupAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

update snapshot
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
Owners: none

address PR feedback
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

[eas-cli] Improved service account display in submission summary
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
Owners: @barthap, @dsokal

build defaults to production, falls back to release
  packages/eas-cli/README.md
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95, @barthap

allow submit to use production profile
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-json/src/EasJsonReader.ts
Owners: @dsokal, @wkozyra95

fix typo
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

lint
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

use a common type
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Improved service account display in submission summary (#674)
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
Owners: @barthap, @dsokal

add option to review adhoc devices when reusing profile (#673)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/actions/SetupAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

implement simple changelog bot
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  package.json
  scripts/package.json
  scripts/src/changelog/consts.ts
  scripts/src/changelog/file.ts
  scripts/src/changelogEntry.ts
  scripts/src/releaseChangelog.ts
  scripts/tsconfig.json
  scripts/yarn.lock
  yarn.lock
Owners: none

update PR template
  .github/PULL_REQUEST_TEMPLATE
Owners: none

[eas-cli] do not set default image
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

upgrade @expo/eas-build-job
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

remove redundant import
  packages/eas-cli/src/build/ios/prepareJob.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

[eas-cli] do not set default image (#675)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

print platform emoji next to build details url when building for multiple platforms
  packages/eas-cli/src/build/utils/printBuildInfo.ts
Owners: @dsokal, @wkozyra95

v0.31.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
  scripts/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

implement simple changelog bot (#676)
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  package.json
  scripts/package.json
  scripts/src/changelog/consts.ts
  scripts/src/changelog/file.ts
  scripts/src/changelogEntry.ts
  scripts/src/releaseChangelog.ts
  scripts/tsconfig.json
  scripts/yarn.lock
  yarn.lock
Owners: none

prefer template string
  packages/eas-cli/src/api.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

changelog bot: commit as last commit author
  .github/workflows/changelog.yml
Owners: none

changelog bot: commit as last commit author (#680)
  .github/workflows/changelog.yml
Owners: none

lint
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

adds changelog
  CHANGELOG.md
Owners: none

adds test for getDefaultProfilesAsync
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
Owners: @dsokal, @wkozyra95, @barthap

updates default config
  packages/eas-cli/src/build/configure.ts
Owners: @dsokal, @wkozyra95

self feedback
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

adds channel names
  packages/eas-cli/src/build/configure.ts
Owners: @dsokal, @wkozyra95

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
