Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

[changelog-bot] revert setup-node action to v1
  .github/workflows/changelog.yml
Owners: none

[changelog-bot] revert setup-node action back to v2; use checkout@v1
  .github/workflows/changelog.yml
Owners: none

[changelog-bot] revert checkout action back to v2
  .github/workflows/changelog.yml
Owners: none

Apply suggestions from code review
  CHANGELOG.md
Owners: none

typing
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] set runtime version in eas update:configure (#811)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] improve error message for missing ascAppId
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

[eas-cli] improve error message for missing ascAppId (#813)
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

make iOS submission message less scary: App Store -> App Store Connect
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/submit/utils/wait.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] bump config-plugins to 4.0.11
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] bump config-plugins to 4.0.11 (#817)
  CHANGELOG.md
  packages/eas-cli/package.json
  yarn.lock
Owners: none

[eas-cli] rename branch:publish to update:publish
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/update/publish.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
Owners: none

make iOS submission message less scary: App Store -> App Store Connect (#815)
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/submit/utils/wait.ts
Owners: @dsokal, @wkozyra95, @barthap

upgrade @expo/* deps
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade @expo/* deps (#821)
  CHANGELOG.md
  packages/eas-cli/package.json
  yarn.lock
Owners: none

fix setting up credentials for projects with Apple Watch companion apps
  packages/eas-cli/src/project/ios/target.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix setting up credentials for projects with Apple Watch companion apps (#812)
  CHANGELOG.md
  packages/eas-cli/src/project/ios/target.ts
Owners: none

update bug report template - add manged/bare input
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

print project workflow in eas diagnostics
  packages/eas-cli/src/commands/diagnostics.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

print project workflow in `eas diagnostics` + update bug report template - add manged/bare input (#822)
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  packages/eas-cli/src/commands/diagnostics.ts
Owners: none

detect react-native version + update eas-build-job
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Apply suggestions from code review
  CHANGELOG.md
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

update packages
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

detect react-native version + update eas-build-job (#823)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/build/metadata.ts
  packages/eas-json/package.json
  yarn.lock
Owners: @dsokal, @wkozyra95

upgrade eas-cli-local-build-plugin to 0.0.54
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

v0.39.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] rename branch:publish to update:publish (#818)
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/update/publish.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
Owners: none

[eas-cli] ask for publish message before staring bundling
  packages/eas-cli/src/commands/update/publish.ts
Owners: none

[eas-cli] pass build profile env to credentials ctx
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/commands/credentials.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-cli/src/credentials/manager/SelectPlatform.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] removes account name from analytics events
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/submit/context.ts
Owners: @dsokal, @wkozyra95, @barthap

ask user to select profile if release does not exist
  packages/eas-cli/src/prompts.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/__tests__/reader-submit-test.ts
  packages/eas-json/src/reader.ts
  packages/eas-json/src/submit/resolver.ts
Owners: @dsokal, @wkozyra95
