Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

[eas-cli] fix non interactive bug
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
Owners: none

changelog stuff
  CHANGELOG.md
Owners: none

[eas-cli] fix non interactive bug for service accounts (#682)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
Owners: none

v0.31.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Fix printing App Store Connect URL after submission
  packages/eas-cli/src/log.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @barthap, @dsokal

Update CHANGELOG
  CHANGELOG.md
Owners: none

Fix comment
  packages/eas-cli/src/log.ts
Owners: none

Remove unnecessary import
  packages/eas-cli/src/submit/submit.ts
Owners: @barthap, @dsokal

Update other place where we pass in empty string to learnMore
  packages/eas-cli/src/commands/submit.ts
Owners: @barthap, @dsokal

[eas-json] add asc api key parameters to eas json
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/EasSubmit.types.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95

changelog stuff
  CHANGELOG.md
Owners: none

removes channel from default eas json config
  packages/eas-cli/src/build/configure.ts
Owners: @dsokal, @wkozyra95

Apply suggestions from code review
  CHANGELOG.md
  packages/eas-cli/src/log.ts
Owners: none

[eas-cli] Fix printing App Store Connect URL after submission (#683)
  CHANGELOG.md
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/log.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @barthap, @dsokal

eslint - enable no-underscore-dangle
  .eslintrc.js
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

eslint - enable no-underscore-dangle (#686)
  .eslintrc.js
  CHANGELOG.md
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.ts
Owners: none

add clean script
  package.json
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

convert to ESM
  packages/eas-cli/package.json
  packages/eas-cli/tsconfig.json
  packages/eas-json/package.json
  packages/eas-json/tsconfig.json
  scripts/package.json
  scripts/tsconfig.json
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-json] add asc api key parameters to eas json (#684)
  CHANGELOG.md
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/EasSubmit.types.ts
  packages/eas-json/src/__tests__/EasJsonReader-submit-test.ts
Owners: @dsokal, @wkozyra95

format feedback
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
Owners: @barthap, @dsokal

tests
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
Owners: @barthap, @dsokal

Update packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

fyi
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
Owners: none

changelog stuff
  CHANGELOG.md
Owners: none

fix lint
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
Owners: @barthap, @dsokal

more pr feedback
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

get values from eas.json
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

[eas-cli] support ascApiKeys in ios submission
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/errors.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
Owners: @barthap, @dsokal

[eas-cli] support ascApiKeys in ios submission (#678)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/credentials/errors.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
Owners: @barthap, @dsokal

[eas-cli] manage ascApiKeys via baconlane
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/Credentials.types.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/ascApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
Owners: none

expose methods
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli][submit] Ability to select a build from the list
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/__tests__/ArchiveSource-test.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/utils/builds.ts
Owners: @barthap, @dsokal

Add tests
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/__tests__/ArchiveSource-test.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix lint
  packages/eas-cli/src/submit/ArchiveSource.ts
Owners: @barthap, @dsokal

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
