Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

Apply suggestions from code review
  CHANGELOG.md
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

Improve unknown error message from #740 (#775)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
Owners: none

[eas-cli] fix bug that required runtime version for all builds (#785)
  CHANGELOG.md
  packages/eas-cli/src/build/metadata.ts
Owners: @dsokal, @wkozyra95

bump rudder node sdk
  packages/eas-cli/package.json
  yarn.lock
Owners: none

[eas-cli] check EAS Update URL is correctly configured before publish
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

bump rudder node sdk (#786)
  packages/eas-cli/package.json
  yarn.lock
Owners: none

Update packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/clients/git.ts
Owners: none

implement submit webhooks
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/commands/webhook/update.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/webhooks/input.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

check npm version when building locally
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

check npm version when building locally (#787)
  CHANGELOG.md
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

Update packages/eas-cli/src/vcs/clients/git.ts
  packages/eas-cli/src/vcs/clients/git.ts
Owners: none

better error message when git is not installed (#784)
  CHANGELOG.md
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/vcs/clients/git.ts
Owners: @dsokal, @wkozyra95

implement submit webhooks (#777)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/commands/webhook/update.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/webhooks/input.ts
Owners: none

pass identifier from build to submit
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @dsokal, @wkozyra95, @barthap

update CHANGELOG.md
  CHANGELOG.md
Owners: none

review feedback
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

clean up .gitignore
  .gitignore
  packages/eas-json/.gitignore
Owners: @dsokal, @wkozyra95

clean up .gitignore (#788)
  .gitignore
  packages/eas-json/.gitignore
Owners: @dsokal, @wkozyra95

[eas-cli] pass identifier from build to submit (#780)
  CHANGELOG.md
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/metadata.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @dsokal, @wkozyra95, @barthap

v0.38.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

docs: fix broken links to all command source files in readme
  packages/eas-cli/README.md
Owners: none

upgrade @expo/* deps
  packages/eas-cli/package.json
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix import
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
Owners: none

upgrade @expo/* deps (#792)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  yarn.lock
Owners: none

v0.38.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

refactor @expo/eas-json
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-cli/src/credentials/manager/SelectIosDistributionTypeGraphqlFromBuildProfile.ts
  packages/eas-cli/src/project/ios/scheme.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/reader-build-test.ts
  packages/eas-json/src/__tests__/reader-submit-test.ts
  packages/eas-json/src/build/resolver.ts
  packages/eas-json/src/build/schema.ts
  packages/eas-json/src/build/types.ts
  packages/eas-json/src/errors.ts
  packages/eas-json/src/index.ts
  packages/eas-json/src/reader.ts
  packages/eas-json/src/schema.ts
  packages/eas-json/src/submit/resolver.ts
  packages/eas-json/src/submit/schema.ts
  packages/eas-json/src/submit/types.ts
  packages/eas-json/src/types.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

docs: fix command paths by adding typescript devdependency
  packages/eas-cli/package.json
Owners: none

Remove APNS capability by default
  packages/eas-cli/src/credentials/ios/appstore/bundleIdCapabilities.ts
Owners: none

Update bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
Owners: none

fix evaluating template strings from info.plist
  packages/eas-cli/src/build/ios/version.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix evaluating template strings from info.plist (#798)
  CHANGELOG.md
  packages/eas-cli/src/build/ios/version.ts
Owners: @dsokal, @wkozyra95

refactor @expo/eas-json (#794)
  CHANGELOG.md
  packages/eas-cli/src/build/android/configure.ts
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/configure.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/ios/configure.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-cli/src/credentials/manager/SelectIosDistributionTypeGraphqlFromBuildProfile.ts
  packages/eas-cli/src/project/ios/scheme.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/EasJson.types.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/reader-build-test.ts
  packages/eas-json/src/__tests__/reader-submit-test.ts
  packages/eas-json/src/build/resolver.ts
  packages/eas-json/src/build/schema.ts
  packages/eas-json/src/build/types.ts
  packages/eas-json/src/errors.ts
  packages/eas-json/src/index.ts
  packages/eas-json/src/reader.ts
  packages/eas-json/src/schema.ts
  packages/eas-json/src/submit/resolver.ts
  packages/eas-json/src/submit/schema.ts
  packages/eas-json/src/submit/types.ts
  packages/eas-json/src/types.ts
Owners: @dsokal, @wkozyra95

fix getProfilesAsync tests
  packages/eas-cli/src/credentials/manager/__tests__/SelectIosDistributionTypeGraphqlFromBuildProfile-test.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
Owners: none

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
