Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

Update packages/eas-cli/src/commands/update/publish.ts
  packages/eas-cli/src/commands/update/publish.ts
Owners: none

[eas-cli] ask for publish message before staring bundling (#826)
  packages/eas-cli/src/commands/update/publish.ts
Owners: none

[eas-cli] change eas update:publish to eas update
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/publish.ts
Owners: none

grammar
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] removes account name from tracking context (#827)
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/submit/context.ts
Owners: @dsokal, @wkozyra95, @barthap

pr feedback
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: @dsokal, @wkozyra95

oops
  packages/eas-cli/src/credentials/context.ts
Owners: none

[eas-cli] pass build profile env to credentials ctx (#828)
  CHANGELOG.md
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/commands/credentials.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectBuildProfileFromEasJson.ts
  packages/eas-cli/src/credentials/manager/SelectPlatform.ts
Owners: @dsokal, @wkozyra95

[eas-cli] change eas update:publish to eas update (#830)
  CHANGELOG.md
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
Owners: @dsokal, @wkozyra95, @barthap

v0.40.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-json] use semver for version validation
  packages/eas-json/package.json
  packages/eas-json/src/__tests__/reader-build-test.ts
  packages/eas-json/src/build/schema.ts
Owners: @dsokal, @wkozyra95

warn when attempting to use EAS CLI on managed SDK < 41 project
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/project/expoSdk.ts
Owners: @dsokal, @wkozyra95

[eas-cli] handle 'eas update' when there are no branches
  packages/eas-cli/src/commands/update/index.ts
Owners: none

[eas-cli] handle 'eas update' when there are no branches (#837)
  packages/eas-cli/src/commands/update/index.ts
Owners: none

[eas-cli] Make default runtime version 1.0.0 for bare workflow
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] fix missing republish message
  packages/eas-cli/src/commands/update/index.ts
Owners: none

[eas-cli] fix table column names
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/update/utils.ts
Owners: none

[eas-cli] Make default runtime version 1.0.0 for bare workflow (#838)
  packages/eas-cli/src/commands/update/configure.ts
Owners: none

[eas-cli] fix table column names (#840)
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/update/utils.ts
Owners: none

[eas-cli] fix missing republish message (#839)
  packages/eas-cli/src/commands/update/index.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-json] use semver for version validation (#832)
  CHANGELOG.md
  packages/eas-json/package.json
  packages/eas-json/src/__tests__/reader-build-test.ts
  packages/eas-json/src/build/schema.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[ENG-2279] warn when attempting to use EAS CLI on managed SDK < 41 project (#833)
  CHANGELOG.md
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/project/expoSdk.ts
Owners: @dsokal, @wkozyra95

Apply suggestions from code review
  packages/eas-cli/src/utils/profiles.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[ENG-2052] ask user to select profile if release does not exist (#829)
  CHANGELOG.md
  packages/eas-cli/src/prompts.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/__tests__/reader-submit-test.ts
  packages/eas-json/src/reader.ts
  packages/eas-json/src/submit/resolver.ts
Owners: @dsokal, @wkozyra95

fix submission url
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/Submission.ts
  packages/eas-cli/src/submit/utils/urls.ts
Owners: @barthap, @dsokal

[eas-cli] add build inspect command
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

Apply suggestions from code review
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

Apply suggestions from code review
  packages/eas-cli/src/build/local.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix submission url (#845)
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/types/Submission.ts
  packages/eas-cli/src/submit/utils/urls.ts
Owners: @barthap, @dsokal

review feedback
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

[eas-cli] add build inspect command (#834)
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/createContext.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/inspect.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade eas-cli-local-build-plugin to 0.0.56
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95
