Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

fix failing stuff
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
Owners: none

[eas-cli] integrate ascApiKey with submissions workflow
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetupSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpSubmissionCredentials-test.ts
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

barthap pr feedback
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

dominik pr feedback
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpSubmissionCredentials-test.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
Owners: @barthap, @dsokal

fix changelog
  CHANGELOG.md
Owners: none

[eas-cli] integrate ascApiKey with submissions workflow (#737)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpSubmissionCredentials-test.ts
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

[eas-cli] remove asp prompt
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpSubmissionCredentials-test.ts
  packages/eas-cli/src/submit/ios/AscApiKeySource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

[api] Change API domain for EAS CLI
  packages/eas-cli/graphql-codegen.yml
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] only prompt for appleIdUsername if authenticating via asp
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

[api] Change API domain for EAS CLI (#744)
  CHANGELOG.md
  packages/eas-cli/graphql-codegen.yml
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

v0.35.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix working with local api server
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

fix changelog headings; fix changelog script
  CHANGELOG.md
  scripts/src/releaseChangelog.ts
Owners: none

fix working with local api server (#747)
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

fix --auto-submit-with-profile
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix --auto-submit-with-profile (#748)
  CHANGELOG.md
  packages/eas-cli/src/commands/build/index.ts
Owners: @dsokal, @wkozyra95

pr feedback
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] only prompt for appleIdUsername if authenticating via asp (#745)
  CHANGELOG.md
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

Revert "fix working with local api server (#747)"
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Revert "fix working with local api server (#747)" (#750)
  CHANGELOG.md
  packages/eas-cli/src/__tests__/api-test.ts
  packages/eas-cli/src/api.ts
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/graphql/client.ts
Owners: @dsokal, @wkozyra95

[eas-cli] pass envs to prebuild config when resolving entitlements
  packages/eas-cli/src/build/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

review feedback
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
Owners: none

[eas-cli] pass envs to prebuild config when resolving entitlements (#751)
  CHANGELOG.md
  packages/eas-cli/src/build/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Api -> API
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/RemoveFcm.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveFcm-test.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/AssignAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/CreateAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Api -> API (#755)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/RemoveFcm.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveFcm-test.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/AssignAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/CreateAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/RemoveAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAscApiKey.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpSubmissionCredentials.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/AssignAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/CreateAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/RemoveAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/actions/__tests__/SetUpAscApiKey-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ascApiKey.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
  packages/eas-cli/src/credentials/manager/AndroidActions.ts
  packages/eas-cli/src/credentials/manager/IosActions.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/AscApiKeySource-test.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
Owners: @barthap, @dsokal

pr feedback
  packages/eas-cli/src/analytics/commands/common.ts
  packages/eas-cli/src/analytics/commands/events.ts
  packages/eas-cli/src/analytics/rudderstackClient.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commandUtils/__tests__/EasCommand-test.ts
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/user/User.ts
Owners: @dsokal, @wkozyra95, @barthap

remove todos
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

fix lint
  packages/eas-cli/src/submit/submit.ts
Owners: @barthap, @dsokal

[eas-cli] submission analytics
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/types.ts
  packages/eas-cli/src/build/utils/analytics.ts
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/utils/analytics.ts
Owners: @dsokal, @wkozyra95, @barthap

pr feedback
  packages/eas-cli/src/analytics/common.ts
  packages/eas-cli/src/analytics/events.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95
