Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman, @bycedric

[eas-cli] Drop remaining cli tables (#1481)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/channel/utils.ts
  packages/eas-cli/src/update/queries.ts
  packages/eas-cli/src/update/utils.ts
  yarn.lock
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

[eas-cli] Warn about outdated build deployment when configuring EAS Update
  CHANGELOG.md
  packages/eas-cli/src/commands/update/configure.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

print warning no matter what
  packages/eas-cli/src/commands/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

update changelog with PR number
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

Update packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

[eas-cli] Warn about outdated build deployment when configuring EAS Update (#1467)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/configure.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

v2.6.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

fix CHANGELOG.md
  CHANGELOG.md
Owners: @dsokal, @wkozyra95

try to fix the account name discrepancy in URLs
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/build/utils/formatBuild.ts
  packages/eas-cli/src/build/utils/printBuildInfo.ts
  packages/eas-cli/src/build/utils/url.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Update: improve DX on first run, correct error message (#1427)
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/log.ts
  packages/eas-cli/src/project/__tests__/workflow-test.ts
  packages/eas-cli/src/project/workflow.ts
Owners: @EvanBacon, @byCedric, @wschurman, @dsokal, @wkozyra95

address PR feedback
  packages/eas-cli/src/build/__tests__/validate-test.ts
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

validate icon PNGs before running build
  .gitattributes
  packages/eas-cli/package.json
  packages/eas-cli/src/build/__tests__/fixtures/icon-alpha.png
  packages/eas-cli/src/build/__tests__/fixtures/icon-jpg.png
  packages/eas-cli/src/build/__tests__/fixtures/icon-no-alpha.png
  packages/eas-cli/src/build/__tests__/validate-test.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/validate.ts
  packages/eas-cli/src/utils/__tests__/fixtures/icon-alpha.png
  packages/eas-cli/src/utils/__tests__/fixtures/icon-no-alpha.png
  packages/eas-cli/src/utils/__tests__/fixtures/icon.jpg
  packages/eas-cli/src/utils/__tests__/image-test.ts
  packages/eas-cli/src/utils/image.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

address PR feedback
  packages/eas-cli/src/build/__tests__/validate-test.ts
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

address more PR feedback
  packages/eas-cli/src/build/__tests__/validate-test.ts
  packages/eas-cli/src/build/android/build.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/build/validate.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Add flag sanitization in updates command
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

Revert "refactor(updates): make non interactive optional to rely on falsy values"
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(updates): make non interactive optional to rely on falsy values
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): remove default non-interactive value to rely on falsy values
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

Revert "refactor(update): remove default non-interactive value to rely on falsy values"
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

[eas-cli] Add flag sanitization in updates command (#1473)
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): add back log about channel pointing to branch
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

Revert "refactor(updates): make non interactive optional to rely on falsy values"
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): move ensure methods outside the update command
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

Revert "refactor(update): remove default non-interactive value to rely on falsy values"
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(updates): make non interactive optional to rely on falsy values
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): remove default non-interactive value to rely on falsy values
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(branch): reuse query from shared utilsin `branch:create`
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/channel/create.ts
Owners: @dsokal, @wkozyra95

refactor(channel): reuse query from shared utilsin `channel:create`
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/commands/channel/create.ts
Owners: @dsokal, @wkozyra95

[eas-cli] Extract entity utilities from update command class (#1478)
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

refactor(update): auto configure EAS updates when running eas update
  packages/eas-cli/src/commands/update/configure.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): make sure eas update does what it needs to do
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/update/configure.ts
Owners: @dsokal, @wkozyra95, @EvanBacon, @byCedric, @wschurman

refactor(update): drop obsolete eas update validation errors
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): drop duplicate truncate update message
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/__tests__/utils-test.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): drop duplicate install expo-update message
  packages/eas-cli/src/project/projectUtils.ts
Owners: @dsokal, @wkozyra95

fix(update): use the old truncated update message limit
  packages/eas-cli/src/update/__tests__/utils-test.ts
Owners: @EvanBacon, @byCedric, @wschurman

refactor(update): ensure the latest changes are integrated in the PR
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

fix(update): use the EAS update configured expo config
  packages/eas-cli/src/commands/update/index.ts
Owners: @EvanBacon, @byCedric, @wschurman

chore(update): make the EAS Update outage a bit more readable
  packages/eas-cli/src/utils/statuspageService.ts
Owners: @dsokal, @wkozyra95

fix(update): remove _internal from merged manifest if defined
  packages/eas-cli/src/update/configure.ts
Owners: @EvanBacon, @byCedric, @wschurman

CODEOWNERS:

* @dsokal @wkozyra95

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @dsokal
packages/eas-cli/src/commands/submit.ts @dsokal

packages/eas-cli/src/update @EvanBacon @byCedric @wschurman
packages/eas-cli/src/commands/update @EvanBacon @byCedric @wschurman

packages/eas-cli/schema @bycedric
packages/eas-cli/src/metadata @bycedric
packages/eas-cli/src/commands/metadata @bycedric

packages/eas-json @dsokal @wkozyra95
