Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman, @bycedric

Apply suggestions from code review
  packages/eas-cli/src/commands/project/init.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Fixed initializeWithoutExplicitIDAsync not being used
  packages/eas-cli/src/commands/project/init.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Require force flag to use default account when no account name is specified in non-interactive mode
  packages/eas-cli/src/commands/project/init.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Changed error message when user has access to multiple accounts in non-interactive mode
  packages/eas-cli/src/commands/project/init.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

upgrade eas-cli-local-build-plugin to 1.0.131
  packages/eas-cli/src/build/local.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

v10.2.4
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @szdziedzic, @khamilowicz, @sjchmiela

update CHANGELOG.md
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Upgrade packages to SDK 51 release
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/update/__tests__/index.test.ts
  packages/eas-cli/src/commands/update/__tests__/roll-back-to-embedded.test.ts
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[eas-cli] Upgrade packages to SDK 51 release (#2498)
  packages/eas-cli/package.json
  packages/eas-cli/src/commands/update/__tests__/index.test.ts
  packages/eas-cli/src/commands/update/__tests__/roll-back-to-embedded.test.ts
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

Update CHANGELOG.md
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Added changelog entry
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[chore] Add typescript linting to packages
  .eslintrc.js
  packages/eas-cli/src/.eslintrc.js
  packages/eas-json/src/.eslintrc.js
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Fix lint
  packages/eas-cli/src/analytics/AnalyticsManager.ts
  packages/eas-cli/src/branch/utils.ts
  packages/eas-cli/src/build/android/version.ts
  packages/eas-cli/src/build/local.ts
  packages/eas-cli/src/build/utils/formatBuild.ts
  packages/eas-cli/src/commandUtils/context/contextUtils/createGraphqlClient.ts
  packages/eas-cli/src/commands/build/cancel.ts
  packages/eas-cli/src/commands/build/delete.ts
  packages/eas-cli/src/commands/build/run.ts
  packages/eas-cli/src/commands/build/version/sync.ts
  packages/eas-cli/src/commands/project/onboarding.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/roll-back-to-embedded.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/ios/__tests__/IosCredentialsProvider-test.ts
  packages/eas-cli/src/credentials/ios/appstore/authenticate.ts
  packages/eas-cli/src/credentials/ios/appstore/pushKey.ts
  packages/eas-cli/src/credentials/ios/appstore/resolveCredentials.ts
  packages/eas-cli/src/credentials/ios/utils/p12Certificate.ts
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
  packages/eas-cli/src/credentials/ios/validators/validateProvisioningProfile.ts
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/apple/tasks/age-rating.ts
  packages/eas-cli/src/project/ios/entitlements.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/utils/language.ts
  packages/eas-cli/src/update/utils.ts
  packages/eas-cli/src/user/SessionManager.ts
  packages/eas-cli/src/utils/__tests__/relay-test.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman, @bycedric

[chore] Upgrade eslint-config-universe
  .eslintignore
  package.json
  packages/eas-cli/src/onboarding/runCommand.ts
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[chore] Add typescript linting to packages
  .eslintignore
  .eslintrc.js
  package.json
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/build/android/version.ts
  packages/eas-cli/src/commandUtils/context/contextUtils/createGraphqlClient.ts
  packages/eas-cli/src/commands/build/version/sync.ts
  packages/eas-cli/src/commands/project/onboarding.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/ios/__tests__/IosCredentialsProvider-test.ts
  packages/eas-cli/src/credentials/ios/appstore/pushKey.ts
  packages/eas-cli/src/credentials/ios/validators/validateProvisioningProfile.ts
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/apple/tasks/age-rating.ts
  packages/eas-cli/src/onboarding/runCommand.ts
  packages/eas-cli/src/project/ios/entitlements.ts
  packages/eas-json/src/.eslintrc.js
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric

Update CHANGELOG.md
  CHANGELOG.md
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[chore] Add typescript linting to packages (#2505)
  .eslintignore
  .eslintrc.js
  package.json
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/build/android/version.ts
  packages/eas-cli/src/commandUtils/context/contextUtils/createGraphqlClient.ts
  packages/eas-cli/src/commands/build/version/sync.ts
  packages/eas-cli/src/commands/project/onboarding.ts
  packages/eas-cli/src/credentials/context.ts
  packages/eas-cli/src/credentials/ios/__tests__/IosCredentialsProvider-test.ts
  packages/eas-cli/src/credentials/ios/appstore/pushKey.ts
  packages/eas-cli/src/credentials/ios/validators/validateProvisioningProfile.ts
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/apple/tasks/age-rating.ts
  packages/eas-cli/src/onboarding/runCommand.ts
  packages/eas-cli/src/project/ios/entitlements.ts
  packages/eas-json/src/.eslintrc.js
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric

[chore] Enable more eslint rules to match other expo repos
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/branch/actions/SelectBranch.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/channel/actions/SelectChannel.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/appstore/authenticate.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleId.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/credentials/ios/appstore/keychain.ts
  packages/eas-cli/src/credentials/ios/appstore/resolveCredentials.ts
  packages/eas-cli/src/credentials/manager/SelectIosDistributionTypeGraphqlFromBuildProfile.ts
  packages/eas-cli/src/metadata/config/resolve.ts
  packages/eas-cli/src/metadata/utils/log.ts
  packages/eas-cli/src/metadata/utils/retry.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/expoConfig.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/run/android/adb.ts
  packages/eas-cli/src/run/ios/simctl.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/update/android/UpdatesModule.ts
  packages/eas-cli/src/utils/download.ts
  packages/eas-cli/src/utils/filterAsync.ts
  packages/eas-cli/src/utils/image.ts
  packages/eas-cli/src/utils/promise.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric, @EvanBacon, @byCedric, @wschurman

[chore] Enable more eslint rules to match other expo repos (#2508)
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/branch/actions/SelectBranch.ts
  packages/eas-cli/src/build/ios/build.ts
  packages/eas-cli/src/channel/actions/SelectChannel.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/credentials/ios/actions/AscApiKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/PushKeyUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpDistributionCertificate.ts
  packages/eas-cli/src/credentials/ios/appstore/authenticate.ts
  packages/eas-cli/src/credentials/ios/appstore/bundleId.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/credentials/ios/appstore/keychain.ts
  packages/eas-cli/src/credentials/ios/appstore/resolveCredentials.ts
  packages/eas-cli/src/credentials/manager/SelectIosDistributionTypeGraphqlFromBuildProfile.ts
  packages/eas-cli/src/metadata/config/resolve.ts
  packages/eas-cli/src/metadata/utils/log.ts
  packages/eas-cli/src/metadata/utils/retry.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/expoConfig.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/run/android/adb.ts
  packages/eas-cli/src/run/ios/simctl.ts
  packages/eas-cli/src/submit/ArchiveSource.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/update/android/UpdatesModule.ts
  packages/eas-cli/src/utils/download.ts
  packages/eas-cli/src/utils/filterAsync.ts
  packages/eas-cli/src/utils/image.ts
  packages/eas-cli/src/utils/promise.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric, @EvanBacon, @byCedric, @wschurman

[chore] Apply more lint
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/queries.ts
  packages/eas-cli/src/build/utils/printBuildInfo.ts
  packages/eas-cli/src/channel/__tests__/branch-mapping-test.ts
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/commandUtils/gating/FeatureGating.ts
  packages/eas-cli/src/commands/metadata/lint.ts
  packages/eas-cli/src/commands/update/__tests__/republish.test.ts
  packages/eas-cli/src/commands/update/__tests__/roll-back-to-embedded.test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/keystoreNew-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/credentials/ios/appstore/keychain.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectPlatform.ts
  packages/eas-cli/src/credentials/manager/SetUpBuildCredentialsCommandAction.ts
  packages/eas-cli/src/devices/actions/create/registrationUrlMethod.ts
  packages/eas-cli/src/devices/queries.ts
  packages/eas-cli/src/easMultiselect.ts
  packages/eas-cli/src/metadata/apple/tasks/app-review-detail.ts
  packages/eas-cli/src/metadata/errors.ts
  packages/eas-cli/src/metadata/utils/retry.ts
  packages/eas-cli/src/ora.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/rollout/__tests__/branch-mapping-test.ts
  packages/eas-cli/src/update/queries.ts
  packages/eas-cli/src/update/republish.ts
  packages/eas-cli/src/utils/__tests__/code-signing-test.ts
  packages/eas-cli/src/utils/image.ts
  packages/eas-cli/src/utils/promise.ts
  packages/eas-cli/src/utils/queries.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric, @EvanBacon, @byCedric, @wschurman

[chore] Apply more lint (#2509)
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/branch/queries.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/queries.ts
  packages/eas-cli/src/build/utils/printBuildInfo.ts
  packages/eas-cli/src/channel/__tests__/branch-mapping-test.ts
  packages/eas-cli/src/channel/queries.ts
  packages/eas-cli/src/commandUtils/gating/FeatureGating.ts
  packages/eas-cli/src/commands/metadata/lint.ts
  packages/eas-cli/src/commands/update/__tests__/republish.test.ts
  packages/eas-cli/src/commands/update/__tests__/roll-back-to-embedded.test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/keystoreNew-test.ts
  packages/eas-cli/src/credentials/ios/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/ios/appstore/AppStoreApi.ts
  packages/eas-cli/src/credentials/ios/appstore/__tests__/bundleIdCapabilities-test.ts
  packages/eas-cli/src/credentials/ios/appstore/ensureAppExists.ts
  packages/eas-cli/src/credentials/ios/appstore/keychain.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/credentials/manager/SelectPlatform.ts
  packages/eas-cli/src/credentials/manager/SetUpBuildCredentialsCommandAction.ts
  packages/eas-cli/src/devices/actions/create/registrationUrlMethod.ts
  packages/eas-cli/src/devices/queries.ts
  packages/eas-cli/src/easMultiselect.ts
  packages/eas-cli/src/metadata/apple/tasks/app-review-detail.ts
  packages/eas-cli/src/metadata/errors.ts
  packages/eas-cli/src/metadata/utils/retry.ts
  packages/eas-cli/src/ora.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/rollout/__tests__/branch-mapping-test.ts
  packages/eas-cli/src/update/queries.ts
  packages/eas-cli/src/update/republish.ts
  packages/eas-cli/src/utils/__tests__/code-signing-test.ts
  packages/eas-cli/src/utils/image.ts
  packages/eas-cli/src/utils/promise.ts
  packages/eas-cli/src/utils/queries.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @bycedric, @EvanBacon, @byCedric, @wschurman

[chore] Enable remaining lint rules and fix lots of bugs
  CHANGELOG.md
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/build/__tests__/cancel-test.ts
  packages/eas-cli/src/build/__tests__/delete-test.ts
  packages/eas-cli/src/commands/analytics.ts
  packages/eas-cli/src/commands/build/version/sync.ts
  packages/eas-cli/src/commands/update/list.ts
  packages/eas-cli/src/credentials/ios/IosCredentialsProvider.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/ProvisioningProfileUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/validators/validateProvisioningProfile.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/run/ios/systemRequirements.ts
  packages/eas-cli/src/update/__tests__/getBranchNameFromChannelNameAsync-test.ts
  packages/eas-cli/src/update/__tests__/update-queries-test.ts
  packages/eas-cli/src/user/expoSsoLauncher.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[chore] Enable remaining lint rules and fix lots of bugs (#2510)
  CHANGELOG.md
  packages/eas-cli/src/.eslintrc.js
  packages/eas-cli/src/build/__tests__/cancel-test.ts
  packages/eas-cli/src/build/__tests__/delete-test.ts
  packages/eas-cli/src/commands/analytics.ts
  packages/eas-cli/src/commands/build/version/sync.ts
  packages/eas-cli/src/commands/update/list.ts
  packages/eas-cli/src/credentials/ios/IosCredentialsProvider.ts
  packages/eas-cli/src/credentials/ios/actions/DistributionCertificateUtils.ts
  packages/eas-cli/src/credentials/ios/actions/ProvisioningProfileUtils.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpAdhocProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/actions/SetUpProvisioningProfile.ts
  packages/eas-cli/src/credentials/ios/credentials.ts
  packages/eas-cli/src/credentials/ios/validators/validateProvisioningProfile.ts
  packages/eas-cli/src/credentials/manager/ManageIos.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/run/ios/systemRequirements.ts
  packages/eas-cli/src/update/__tests__/getBranchNameFromChannelNameAsync-test.ts
  packages/eas-cli/src/update/__tests__/update-queries-test.ts
  packages/eas-cli/src/user/expoSsoLauncher.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[eas-cli] Remove long-deprecated update flags
  CHANGELOG.md
  packages/eas-cli/src/commands/update/__tests__/index.test.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

[eas-cli] Remove long-deprecated update flags (#2501)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/__tests__/index.test.ts
  packages/eas-cli/src/commands/update/index.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

Upgrade eas-build dependencies
  packages/eas-cli/package.json
  packages/eas-json/package.json
  yarn.lock
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Don't change eas.json in non-interactive mode
  packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Update message
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Update message
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Update message
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/project/remoteVersionSource.ts
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Reformat
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/project/remoteVersionSource.ts
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/project/remoteVersionSource.ts
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/build/runBuildAndSubmit.ts
  packages/eas-cli/src/build/runBuildAndSubmit.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Reformat
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

Update packages/eas-cli/src/project/remoteVersionSource.ts
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Reformat
  packages/eas-cli/src/project/remoteVersionSource.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela

[eas-cli] Add rollbackPercentage flag to update command
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/commands/update/roll-back-to-embedded.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/BranchQuery.ts
  packages/eas-cli/src/graphql/queries/EnvironmentVariablesQuery.ts
  packages/eas-cli/src/graphql/types/Update.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/publish.ts
  packages/eas-cli/src/update/utils.ts
Owners: @szdziedzic, @khamilowicz, @sjchmiela, @EvanBacon, @byCedric, @wschurman

CODEOWNERS:

* @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/build @szdziedzic @khamilowicz @sjchmiela
packages/eas-cli/src/commands/build @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/submit @szdziedzic @khamilowicz @sjchmiela
packages/eas-cli/src/commands/submit.ts @szdziedzic @khamilowicz @sjchmiela

packages/eas-cli/src/update @EvanBacon @byCedric @wschurman
packages/eas-cli/src/commands/update @EvanBacon @byCedric @wschurman

packages/eas-cli/schema @bycedric
packages/eas-cli/src/metadata @bycedric
packages/eas-cli/src/commands/metadata @bycedric

packages/eas-json @szdziedzic @khamilowicz @sjchmiela
