Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

rebase
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
Owners: none

[eas-cli] remove google service account key (#658)
  CHANGELOG.md
  packages/eas-cli/src/credentials/__tests__/fixtures-android.ts
  packages/eas-cli/src/credentials/android/actions/RemoveGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/UseExistingGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/RemoveGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/api/GraphqlClient.ts
  packages/eas-cli/src/credentials/android/api/graphql/mutations/GoogleServiceAccountKeyMutation.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
  packages/eas-cli/src/graphql/generated.ts
Owners: none

lint
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
Owners: none

add tests
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
Owners: none

[eas-cli] setup gsa key
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

[eas-cli] setup google service account key (#659)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/SetupGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/manager/ManageAndroid.ts
Owners: none

[eas-cli] use google service key detection in credentials service
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/googleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

pr feedback
  packages/eas-cli/src/credentials/android/utils/__tests__/googleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

changelog
  CHANGELOG.md
Owners: none

[eas-cli] use google service key detection in credentials service (#660)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/actions/CreateGoogleServiceAccountKey.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/CreateGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/actions/__tests__/SetupGoogleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/__tests__/googleServiceAccountKey-test.ts
  packages/eas-cli/src/credentials/android/utils/googleServiceAccountKey.ts
Owners: none

[eas-cli] fix ios print formats (#657)
  CHANGELOG.md
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
  packages/eas-cli/src/credentials/ios/utils/__tests__/printCredentials-test.ts
  packages/eas-cli/src/credentials/ios/utils/printCredentials.ts
Owners: none

[eas-cli] fix test snapshots
  packages/eas-cli/src/credentials/ios/utils/__tests__/__snapshots__/printCredentials-test.ts.snap
Owners: none

automate releases
  .github/workflows/release.yml
  package.json
  scripts/.eslintrc.js
  scripts/package.json
  scripts/src/changelog.ts
  scripts/src/markdown.ts
  scripts/tsconfig.json
  ts-declarations/marked/index.d.ts
  yarn.lock
Owners: none

update CONTRIBUTING.md
  .gh-assets/draft-release.png
  .gh-assets/release-workflow.png
  CONTRIBUTING.md
Owners: none

add copy-pasta alert
  scripts/src/markdown.ts
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

send slack notif on successful release
  .github/workflows/release.yml
Owners: none

automate releases (#668)
  .gh-assets/draft-release.png
  .gh-assets/release-workflow.png
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  scripts/.eslintrc.js
  scripts/package.json
  scripts/src/changelog.ts
  scripts/src/markdown.ts
  scripts/tsconfig.json
  ts-declarations/marked/index.d.ts
  yarn.lock
Owners: none

v0.30.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
  scripts/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG
  CHANGELOG.md
Owners: none

fix --json flag when running on GitHub Actions
  packages/eas-cli/src/utils/json.ts
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

fix --json flag when running on GitHub Actions (#669)
  CHANGELOG.md
  packages/eas-cli/src/utils/json.ts
Owners: none

fix committing changelog changes from CI
  .github/workflows/release.yml
Owners: none

[eas-cli] Bump @expo/config @expo/prebuild-config @expo/config-plugins
  packages/eas-cli/package.json
  packages/eas-cli/src/build/utils/updates.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

Update CHANGELOG
  CHANGELOG.md
Owners: none

[eas-cli] Bump @expo/config @expo/prebuild-config @expo/config-plugins to fix iOS Info.plist warning (#670)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/build/utils/updates.ts
  yarn.lock
Owners: @dsokal, @wkozyra95

volta pin node@16.10 and yarn@1.22.15
  package.json
Owners: none

fix building monorepo projects on Windows
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/build/cancel.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/list.ts
  packages/eas-cli/src/commands/build/view.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/commands/device/list.ts
  packages/eas-cli/src/commands/device/view.ts
  packages/eas-cli/src/commands/project/info.ts
  packages/eas-cli/src/commands/project/init.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/delete.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/devices/context.ts
  packages/eas-cli/src/project/__tests__/projectUtils-test.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  yarn.lock
Owners: @dsokal, @wkozyra95, @barthap

update CHANGELOG
  CHANGELOG.md
Owners: none

address PR feedback
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/project/__tests__/projectUtils-test.ts
  packages/eas-cli/src/project/projectUtils.ts
Owners: @dsokal, @wkozyra95

fix building monorepo projects on Windows (#671)
  CHANGELOG.md
  packages/eas-cli/package.json
  packages/eas-cli/src/build/android/prepareJob.ts
  packages/eas-cli/src/build/ios/prepareJob.ts
  packages/eas-cli/src/commands/branch/create.ts
  packages/eas-cli/src/commands/branch/delete.ts
  packages/eas-cli/src/commands/branch/list.ts
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/branch/rename.ts
  packages/eas-cli/src/commands/branch/view.ts
  packages/eas-cli/src/commands/build/cancel.ts
  packages/eas-cli/src/commands/build/configure.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/build/list.ts
  packages/eas-cli/src/commands/build/view.ts
  packages/eas-cli/src/commands/channel/create.ts
  packages/eas-cli/src/commands/channel/edit.ts
  packages/eas-cli/src/commands/channel/list.ts
  packages/eas-cli/src/commands/channel/rollout.ts
  packages/eas-cli/src/commands/channel/view.ts
  packages/eas-cli/src/commands/config.ts
  packages/eas-cli/src/commands/device/list.ts
  packages/eas-cli/src/commands/device/view.ts
  packages/eas-cli/src/commands/project/info.ts
  packages/eas-cli/src/commands/project/init.ts
  packages/eas-cli/src/commands/secret/create.ts
  packages/eas-cli/src/commands/secret/delete.ts
  packages/eas-cli/src/commands/secret/list.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/commands/webhook/create.ts
  packages/eas-cli/src/commands/webhook/delete.ts
  packages/eas-cli/src/commands/webhook/list.ts
  packages/eas-cli/src/devices/context.ts
  packages/eas-cli/src/project/__tests__/projectUtils-test.ts
  packages/eas-cli/src/project/projectUtils.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  yarn.lock
Owners: @dsokal, @wkozyra95, @barthap

don't use PAT for release
  .github/workflows/release.yml
Owners: none

v0.30.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

[skip ci] update CHANGELOG.md
  CHANGELOG.md
Owners: none

change CHANGELOG commit message
  .github/workflows/release.yml
Owners: none

changelog
  CHANGELOG.md
Owners: none

tests
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
Owners: @barthap, @dsokal
