Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap, @bycedric

[eas-cli] Drop non-interactive due to limitations in AppStoreApi
  packages/eas-cli/src/commands/metadata/configure.ts
  packages/eas-cli/src/commands/metadata/index.ts
Owners: @bycedric

[eas-cli] Reimplement credentials context for metadata
  packages/eas-cli/src/commands/metadata/configure.ts
  packages/eas-cli/src/commands/metadata/index.ts
Owners: @bycedric

[eas-cli] Drop non-interactive flag in metadata command
  packages/eas-cli/src/commands/metadata/index.ts
Owners: @bycedric

[eas-cli] Drop args from metadata:configure
  packages/eas-cli/src/commands/metadata/configure.ts
Owners: @bycedric

[eas-cli] Add public access modifiers to classes
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/apple/config/writer.ts
  packages/eas-cli/src/metadata/apple/task.ts
  packages/eas-cli/src/metadata/apple/tasks/age-rating.ts
  packages/eas-cli/src/metadata/apple/tasks/app-info.ts
  packages/eas-cli/src/metadata/apple/tasks/app-version.ts
  packages/eas-cli/src/metadata/errors.ts
Owners: @bycedric

[eas-cli] Add specific types to date precision remover
  packages/eas-cli/src/metadata/utils/date.ts
Owners: @bycedric

[eas-cli] Add try catch around writing json to always unsubscribe
  packages/eas-cli/src/metadata/download.ts
Owners: @bycedric

[eas-cli] Add async return await to uploadAsync log methods
  packages/eas-cli/src/metadata/apple/tasks/app-info.ts
  packages/eas-cli/src/metadata/apple/tasks/app-version.ts
Owners: @bycedric

add changelog entry
  CHANGELOG.md
Owners: none

[eas-cli] lower page limit for UpdateQueries (#1119)
  CHANGELOG.md
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
Owners: none

upgrade eas-cli-local-build-plugin to 0.0.85
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

v0.53.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Fix date precision type and test
  packages/eas-cli/src/metadata/utils/__tests__/date.test.ts
  packages/eas-cli/src/metadata/utils/date.ts
Owners: @bycedric

[eas-cli] Use submission profile bundle id if defined
  packages/eas-cli/src/metadata/context.ts
Owners: @bycedric

[eas-cli] Drop catch from IO try catch block
  packages/eas-cli/src/metadata/download.ts
Owners: @bycedric

[eas-cli] Move unique helper to global utils
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/utils/array.ts
  packages/eas-cli/src/utils/expodash/__tests__/uniq-test.ts
  packages/eas-cli/src/utils/expodash/uniq.ts
Owners: @bycedric

fix CHANGELOG
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] make viewBranchAsync limit configurable
  .gitignore
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
Owners: none

[eas-cli] add tests for updates/ensureChannelExistsAsync
  CHANGELOG.md
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

update sytnax and generate graphql
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
Owners: none

rename PAGE_LIMIT to viewBranchUpdatesQueryUpdateLimit
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

[eas-cli] make viewBranchAsync updates limit configurable (#1144)
  .gitignore
  CHANGELOG.md
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

[eas-cli] improve update terminal output
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/ensureProjectExists.ts
  packages/eas-cli/src/project/publish.ts
Owners: @dsokal, @wkozyra95

update tests and add changelog entry
  CHANGELOG.md
  packages/eas-cli/src/project/__tests__/publish-test.ts
Owners: none

[eas-cli] Limit concurrent asset uploads to google
  packages/eas-cli/package.json
  packages/eas-cli/src/project/publish.ts
  yarn.lock
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Improvements to uploadAssetsAsync
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/publish.ts
Owners: none

remove asset limit warning from update command
  CHANGELOG.md
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/publish.ts
Owners: @dsokal, @wkozyra95

[eas-cli] improve update terminal output (#1152)
  CHANGELOG.md
  packages/eas-cli/src/build/utils/url.ts
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/project/__tests__/publish-test.ts
  packages/eas-cli/src/project/ensureProjectExists.ts
  packages/eas-cli/src/project/publish.ts
Owners: @dsokal, @wkozyra95

[eas-cli] add fetching additional pages for update --republish
  CHANGELOG.md
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

add update/getUpdatesToRepublishInteractiveAsync test
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

pr feedback
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

specify page size for getUpdatesToRepublishInteractiveAsync
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

fix issue with pagination offset
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

[eas-cli] add fetching additional pages for update --republish (#1148)
  CHANGELOG.md
  packages/eas-cli/src/commands/update/index.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/queries/UpdateQuery.ts
  packages/eas-cli/src/update/__tests__/update-test.ts
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] Prefer nullish coalescing
  packages/eas-cli/src/metadata/apple/config/reader.ts
  packages/eas-cli/src/metadata/apple/tasks/app-version.ts
Owners: @bycedric

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-cli/src/metadata @bycedric
packages/eas-cli/src/commands/metadata @bycedric

packages/eas-json @dsokal @wkozyra95
