Repository expo/eas-cli, changes with the owners that CODEOWNERS names for each.
All owners: @dsokal, @wkozyra95, @barthap

CODEOWNERS:

packages/eas-cli/src/build @dsokal @wkozyra95
packages/eas-cli/src/commands/build @dsokal @wkozyra95

packages/eas-cli/src/submit @barthap @dsokal
packages/eas-cli/src/commands/submit.ts @barthap @dsokal

packages/eas-json @dsokal @wkozyra95

fix tests
  packages/eas-cli/src/commandUtils/__tests__/EasCommand-test.ts
Owners: none

[eas-cli] submission analytics (#752)
  packages/eas-cli/graphql.schema.json
  packages/eas-cli/src/analytics/common.ts
  packages/eas-cli/src/analytics/events.ts
  packages/eas-cli/src/analytics/rudderstackClient.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/build/context.ts
  packages/eas-cli/src/build/types.ts
  packages/eas-cli/src/commandUtils/EasCommand.ts
  packages/eas-cli/src/commandUtils/__tests__/EasCommand-test.ts
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/__tests__/AndroidSubmitCommand-test.ts
  packages/eas-cli/src/submit/context.ts
  packages/eas-cli/src/submit/ios/AppSpecificPasswordSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
  packages/eas-cli/src/user/User.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] add analytic attempt events
  packages/eas-cli/src/analytics/common.ts
  packages/eas-cli/src/analytics/events.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @dsokal, @wkozyra95, @barthap

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] add analytic attempt events (#757)
  CHANGELOG.md
  packages/eas-cli/src/analytics/common.ts
  packages/eas-cli/src/analytics/events.ts
  packages/eas-cli/src/build/build.ts
  packages/eas-cli/src/submit/BaseSubmitter.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/submit.ts
Owners: @dsokal, @wkozyra95, @barthap

fix changelog
  CHANGELOG.md
Owners: none

use keytool service
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/mutations/KeystoreGenerationUrlMutation.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/credentials/android/utils/keystore.ts
Owners: none

use keytool service (#754)
  CHANGELOG.md
  packages/eas-cli/src/credentials/android/utils/keystore.ts
  packages/eas-cli/src/graphql/generated.ts
  packages/eas-cli/src/graphql/mutations/KeystoreGenerationUrlMutation.ts
Owners: none

update PR template, CHANGELOG, CONTRIBUTING guide
  .gh-assets/eas-build-publish-commit.png
  .github/PULL_REQUEST_TEMPLATE
  CHANGELOG.md
  CONTRIBUTING.md
Owners: none

automate eas-cli-local-build-plugin upgrades
  package.json
  packages/eas-cli/src/build/local.ts
  scripts/bin/run
  scripts/package.json
  scripts/src/updateLocalPlugin.sh
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

address PR feedback
  CHANGELOG.md
Owners: none

pin `eas-cli-local-build-plugin` to specific version (#753)
  .gh-assets/eas-build-publish-commit.png
  .github/PULL_REQUEST_TEMPLATE
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  packages/eas-cli/src/build/local.ts
  scripts/bin/run
  scripts/package.json
  scripts/src/updateLocalPlugin.sh
Owners: @dsokal, @wkozyra95

upgrade eas-cli-local-build-plugin to 0.0.47
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

v0.36.0
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
  packages/eas-json/package.json
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

upgrade eas-cli-local-build-plugin to 0.0.48
  packages/eas-cli/src/build/local.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

v0.36.1
  lerna.json
  packages/eas-cli/README.md
  packages/eas-cli/package.json
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[workspace] modernize lint stack, fix redeclaration
  .eslintrc.js
  .prettierrc
  package.json
  packages/eas-cli/src/credentials/credentialsJson/read.ts
  yarn.lock
Owners: none

[workspace] update Prettier
  .eslintrc.js
  .gitignore
  .prettierrc
  package.json
  yarn.lock
Owners: none

[workflows] update `setup-node` action to `v2`
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/test.yml
Owners: none

validate release channel in eas.json
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
Owners: @dsokal, @wkozyra95

update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] read correct appIdentifier for multi-scheme/multi-flavor project
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/android/gradle.ts
  packages/eas-cli/src/project/android/gradleUtils.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
  packages/eas-cli/src/submit/android/AndroidPackageSource.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/EasSubmit.types.ts
Owners: @barthap, @dsokal, @wkozyra95

validate release channel in eas.json (#764)
  CHANGELOG.md
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
Owners: @dsokal, @wkozyra95

make the missing build/submit profile error message more descriptive
  CHANGELOG.md
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
Owners: @dsokal, @wkozyra95, @barthap

[workspace] update Prettier (#762)
  .eslintrc.js
  .gitignore
  .prettierrc
  package.json
  yarn.lock
Owners: none

[workflows] update `setup-node` action to `v2` (#763)
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/test.yml
Owners: none

make the missing build/submit profile error message more descriptive (#761)
  CHANGELOG.md
  packages/eas-cli/src/build/utils/devClient.ts
  packages/eas-cli/src/commands/build/index.ts
  packages/eas-cli/src/commands/submit.ts
  packages/eas-cli/src/utils/__tests__/profiles-test.ts
  packages/eas-cli/src/utils/profiles.ts
  packages/eas-json/src/EasJsonReader.ts
  packages/eas-json/src/__tests__/EasJsonReader-build-test.ts
Owners: @dsokal, @wkozyra95, @barthap

[eas-cli] auto create channel on publish
  packages/eas-cli/src/commands/branch/publish.ts
  packages/eas-cli/src/commands/channel/create.ts
Owners: none

update CHANGELOG.md
  CHANGELOG.md
Owners: none

review feedback
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/android/gradle.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
Owners: @barthap, @dsokal

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

show plist path when parsing failed
  packages/eas-cli/src/build/ios/UpdatesModule.ts
  packages/eas-cli/src/build/ios/__tests__/version-test.ts
  packages/eas-cli/src/build/ios/version.ts
  packages/eas-cli/src/credentials/ios/appstore/entitlements.ts
  packages/eas-cli/src/utils/plist.ts
Owners: @dsokal, @wkozyra95

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[eas-cli] read correct identifiers for multi-scheme/multi-flavor projects (#765)
  CHANGELOG.md
  packages/eas-cli/src/project/android/__tests__/applicationId-test.ts
  packages/eas-cli/src/project/android/applicationId.ts
  packages/eas-cli/src/project/android/gradle.ts
  packages/eas-cli/src/project/android/gradleUtils.ts
  packages/eas-cli/src/project/ios/__tests__/bundleIdentifier-test.ts
  packages/eas-cli/src/project/ios/bundleIdentifier.ts
  packages/eas-cli/src/submit/android/AndroidPackageSource.ts
  packages/eas-cli/src/submit/android/AndroidSubmitCommand.ts
  packages/eas-cli/src/submit/android/AndroidSubmitter.ts
  packages/eas-cli/src/submit/android/ServiceAccountSource.ts
  packages/eas-cli/src/submit/android/__tests__/ServiceAccountSource-test.ts
  packages/eas-cli/src/submit/ios/CredentialsServiceSource.ts
  packages/eas-cli/src/submit/ios/IosSubmitCommand.ts
  packages/eas-cli/src/submit/ios/IosSubmitter.ts
  packages/eas-cli/src/submit/ios/__tests__/CredentialsServiceSource-test.ts
  packages/eas-json/src/EasJsonSchema.ts
  packages/eas-json/src/EasSubmit.types.ts
Owners: @barthap, @dsokal, @wkozyra95
